body {
    /*background-image: url("cartaMasAlta/casino.jpg");*/
    background-color: white;
    color: black;
}
h1{
    text-align: center;
    text-decoration: underline;
}
#resultado {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
ol {
    text-align: left;
    padding-left: 600px;
}
li::marker{
    font-weight: bold;
}
.lista{
    padding: 2px;
}
button{
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: #007d33;
    color: #fff;
    border: none;
    cursor: pointer;
}
#titulo{
    /*background-color: #01300f;*/
    padding: 2px;
}