<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link rel="stylesheet" href="../static/css/admin.css">
</head>
<body>
     <div class="topnav">
         <form method="GET" action="/Inicio/">
            <button class="active">Inicio</button>
         </form>
         <form  method="GET" action="/Administrador/">
            <button type="submit" class="active">Descripción</button>
         </form>
         <form method="GET" action="/Datos Usuario/">
            <button class="active">MySQL</button>
        </form>
     </div>
    <footer>
        <p>&copy; 2023 Panel de Administrador</p>
    </footer>
</body>
</html>