{% extends 'plantilla.html' %}
{% block title %} Selector de Avatares {% endblock %}
{% block stylesheets %}
    <link rel="icon" href="/static/images/moneda_dorada.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/avatares.css">
{% endblock %}
{% block body %}
    <h1>Selector de Avatares</h1>

    <div id="current-photo-container">
        <h2>Foto actual</h2>
        <div id="current-photo" class="avatar">
            <div class="background"></div>
            <div class="character"></div>
        </div>
    </div>

    <div id="photo-container">
        <div class="section">
            <h2>Colores de fondo</h2>
                <div class="image-container background-container">
                    <div class="background white" data-background="white"></div>
                    <div class="background red" data-background="red"></div>
                    <div class="background blue" data-background="blue"></div>
                    <div class="background green" data-background="green"></div>
                    <div class="background yellow" data-background="yellow"></div>
                    <div class="background orange" data-background="orange"></div>
                    <!-- Agrega más opciones de colores de fondo aquí -->
                </div>
        </div>


        <div class="section">
            <h2>Colección Conguitos</h2>
            <div class="image-container character-container">
                <div class="character basic" data-character="basic"></div>
                <div class="character viking" data-character="viking" data-locked="true"></div>
                <div class="character king" data-character="king" data-locked="true"></div>
                <div class="character pirate" data-character="pirate" data-locked="true"></div>
                <div class="character astronaut" data-character="astronaut" data-locked="true"></div>
                <!-- Aquí se pueden agregar todos los personajes que queramos -->
            </div>
        </div>

        <div class="section">
            <h2>Colaboraciones</h2>
            <div class="image-container character-container">
                <div class="character tiger" data-character="tiger" data-locked="true"></div>
                <div class="character captain" data-character="captain" data-locked="true"></div>
                <!-- Aquí se pueden agregar todos los personajes que queramos -->
            </div>
        </div>
    </div>

    <button id="save-changes">Guardar cambios</button>

    <audio controls autoplay loop id="audio-player">
        <source src="/static/audio/fortnite.mp3" type="audio/mpeg">
    </audio>

{% endblock %}
{% block javascript %}
    <script>
    const PIRATA = "{{ PIRATA }}";
    const ASTRONAUTA = "{{ ASTRONAUTA }}";
    const REY = "{{ REY }}";
    const CAPITAN = "{{ CAPITAN }}";
    const TIGRE = "{{ TIGRE }}";
    const VIKINGO = "{{ VIKINGO }}";
    </script>
    <script src="/static/js/avatares.js"></script>
    <script src="/static/js/mutearPagina.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}




