<!DOCTYPE html>
<html>
<head>
    <title>Blackjack</title>
    <link rel="stylesheet" type="text/css" href="../static/css/blackjack.css">
</head>
<body>
    <div id="container">
        <h1>Blackjack</h1>
        <p>Tu mano: <span id="player-hand"></span></p>
        <p>Mano de la banca: <span id="dealer-hand"></span></p>
        <p id="result"></p>
        <button id="deal-button">Repartir</button>
        <button id="hit-button">Pedir Carta</button>
        <button id="stand-button">Plantarse</button>
    </div>
    <div id="balance-container">
            <p>Saldo total: <span id="balance">20 monedas</span></p>
        </div>
        <div id="bet-container">
            <p>Cantidad apostada: <span id="bet">0 monedas</span></p>
            <button onclick="placeBet()">Añadir Apuesta</button>
        </div>
    <script src="../static/js/blackjack.js"></script>
</body>
</html>

