<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/camara.css" />
    <script defer src="app.js"></script>
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/Camara/">
        <input type="hidden" name="foto" id="fotoInput">
        <header>Hágase una foto para crear su cuenta</header>
        <section class="cam-container">
          <div class="video-wrap">
            <video class="video"></video>
          </div>
          <div class="canvas-wrap">
            <canvas class="canvas" width="420" height="340"></canvas>
          </div>
          <div>
             <a type="submit" {{ form.submit(class="start.btn")}}> Tomar Foto</a>
          </div>
        </section>
    </form>
    <script src="../static/js/camara.js"></script>
  </body>
</html>