<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio Datos Usuario</title>
    <link rel="stylesheet" href="../static/css/cambiosUsuarioAdmin.css">
</head>
<body>
<div class="topnav">
         <form  method="GET" action="/Administrador/">
            <button type="submit" class="active">HOME</button>
         </form>
         <form method="GET" action="/Datos Usuario/">
            <button class="active">Cambio Datos Usuario</button>
        </form>
     </div>
    <footer>

    <div class="container pt-4">
      {% block body %}
      {% endblock %}
    </div>
    </footer>
</body>
</html>