{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/juegosCartas.css">
    <title>Juegos Extra</title>
{% endblock %}
{% block body %}
    <audio controls autoplay>
        <source src="/static/audio/BadPiggies.mp3" type="audio/mpeg">
    </audio>
    <div class = "contenedorTotal">
        <div class="container">
          <h2 class="title">
            <span class="title-word title-word-1">Juegos</span>
            <span class="title-word title-word-2">de</span>
            <span class="title-word title-word-3">cartas</span>
          </h2>
        </div>
        <div class = "contenedorJuegos">
            <article id="cargarBingo">
                <img id="cartelJuego" src="/static/images/juegos_cartas/cartaMasAltaCartel.png">
                <img src="/static/images/juegos_cartas/cartaMasAltaFrontal2.png">
            </article>
            <article id="cargarSlots">
                <img id="cartelJuego" src="/static/images/juegos_cartas/cartaMasAltaCartel.png">
                <img src="/static/images/juegos_cartas/cartaMasAltaFrontal.png">
            </article>
            <article id="cargarDino">
                <img id="cartelJuego" src="/static/images/juegos_cartas/cartaMasAltaCartel.png">
                <img src="/static/images/juegos_cartas/cartaMasAltaFrontal.png">
            </article>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/static/js/juegosCartas.js"></script>
{% endblock %}
