<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga</title>
    <link rel="stylesheet" type="text/css" href="../static/css/carga.css">
</head>
<body>
    <video id="logoMovimiento" autoplay loop muted>
        <source src="../static/video/konguitoFinalMov.mp4" type="video/mp4">
    </video>
    <from method="GET" action="/Inicio/">
        <button id="empieza">START</button>
    </from>
    <script src="../static/js/carga.js"></script>
</body>
</html>