{% extends 'plantilla.html' %}
{% block title %} Carta más alta {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/cartas_antiguo.css" type="text/css">
{% endblock %}
{% block body %}
    <audio controls autoplay loop id="audio-player">
        <source src="/static/audio/lecon_particuliere.mp3" type="audio/mpeg">
    </audio>

    <div id = prueba3>
        <img id ="fotoMoneda" src="/static/images/moneda.png">
        <img id = "masMonedas" title="Ingresar dinero" src="/static/images/masMonedas.png" onclick="ingresarDinero()">
        <span id= "monedas"> {{ DINERO }} </span>
    </div>

    <h1 id="titulo"> Carta más alta </h1>

    <div class="reglas">
        <button id="botonReglas">Reglas</button>
    </div>

    <div id="bet">
        <label for="apuesta">Apuesta:</label>
        <input type="number" id="apuesta" min="0.01" step= "0.01" max="saldo" placeholder="Min de 0.01 KC.">
        <div id="dinero"></div>
    </div>

    <div class="table">
        <div class="deck" id="deck">
            <div class="fondo_negro"> REPARTIR </div>
        </div>
        <div class="card-container">
            <div class="slot" id="slot4"></div>
        </div>
        <br>
        <div class="slots">
            <div class="card-container">
                <div class="slot" id="slot1"></div>
            </div>
            <div class="card-container">
                <div class="slot" id="slot2"></div>
            </div>
            <div class="card-container">
                <div class="slot" id="slot3"></div>
            </div>
        </div>
        <br><br>
    </div>
    <div id="message"></div>
{% endblock %}
{% block javascript %}
    <script src="/static/js/cartas_antiguo.js"></script>
    <script src="/static/js/mutearPagina.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

<!--
CONVERTIR EN ALERTA EL MENSAJE DE VICTORIA
-->