<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta más alta</title>
    <link rel="stylesheet" href="/static/css/cartas_antiguo.css" type="text/css">
</head>
<body>
    <audio controls autoplay loop class="audio-player">
        <source src="/static/audio/victorJoel.mp3" type="audio/mpeg">
    </audio>
    <div id="ctn-bars-search">
        <input type="text" id="inputSearch" placeholder="¿Y ahora a que vas a jugar?" autocomplete="off" onclick="resultadosBusqueda()">
    </div>

    <ul id="box-search">
        <li> <a onclick="paginaHome()"> Home </a></li>   <!-- PONER UN ATRIBUTO DE onclick Y HACER window.location = '' / o poner la url-->
        <li> <a onclick="paginaAjustes()"> Perfil </a></li>
        <li> <a onclick="cartas()"> Carta más alta </a></li>
        <li> <a onclick="blackJack()"> BlackJack </a></li>
        <li> <a onclick="poker()"> Poker </a></li>
        <li> <a onclick="craps()"> Dados craps </a></li>
        <li> <a onclick="ruleta()"> Ruleta </a></li>
        <li> <a onclick="kongoRun()"> Kongo Run </a></li>
        <li> <a onclick="tragaperras()"> Tragaperras </a></li>
        <li> <a onclick="plinko()"> Plinko </a></li>
        <li> <a onclick="bingo()"> Bingo </a></li>
        <li> <a onclick="eventos()"> Eventos </a></li>
    </ul>

    <div id="cover-ctn-search" onclick="cerrarBuscador()"></div>
    <div id = prueba3>
        <img id ="fotoMoneda" src="/static/images/moneda.png">
        <img id = "masMonedas" title="Ingresar dinero" src="/static/images/masMonedas.png" onclick="ingresarDinero()">
        <span style="color: white" id= "monedas">{{ DINERO }}</span><br><br>
    </div>
    <div id="container">
        <h1> Carta más alta </h1>
    </div>
    <div id="bet">
        <label for="apuesta">Apuesta:</label>
        <input type="number" id="apuesta" min="0.01" step= "0.01" max="saldo">
        <div id="dinero"></div>
    </div>
    <div class="table">
        <div class="deck" id="deck">Repartir</div>
        <div class="card-container">
            <div class="slot" id="slot4"></div>
        </div>
        <br>
        <div class="slots">
            <div class="card-container">
                <div class="slot" id="slot1"></div>
            </div>
            <div class="card-container">
                <div class="slot" id="slot2"></div>
            </div>
            <div class="card-container">
                <div class="slot" id="slot3"></div>
            </div>
        </div>
        <br><br>
        <div id="message"></div>
    </div>

    <div class="toolbar">

        <div title="Menú" class="bars__menu">
            <span class="line1__bars-menu"></span>
            <span class="line2_5__bars-menu"></span>
            <span class="line3__bars-menu"></span>
        </div>

        <div title="Home" class="home" onclick="paginaHome()">
            <span class="verizq"></span>
            <span class="hor"></span>
            <span class="verder"></span>
        </div>

        <div title="Ajustes" class="ajustes" onclick="paginaAjustes()">
            <span class="c_grande"></span>
            <span class="c_peque"></span>
        </div>

        <div title="Buscador" class="buscador" onclick="ponerBuscador()">
            <span class="lupa"></span>
            <span class="mango"></span>
        </div>
    </div>

    <script src="/static/js/cartas_antiguo.js"></script>
</body>
</html>
