<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/images/moneda_dorada.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta más alta</title>
    <link rel="stylesheet" href="/static/css/cartas_antiguo.css" type="text/css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>
    <audio controls autoplay loop class="audio-player">
        <source src="/static/audio/lecon_particuliere.mp3" type="audio/mpeg">
    </audio>
    <div id="ctn-bars-search">
        <input type="text" id="inputSearch" placeholder="¿Y ahora a que vas a jugar?" autocomplete="off" onclick="resultadosBusqueda()">
    </div>

    <ul id="box-search">
        <li> <a onclick="paginaHome()"><i class="fa-solid fa-magnifying-glass"></i> Home </a></li>   <!-- PONER UN ATRIBUTO DE onclick Y HACER window.location = '' / o poner la url-->
        <li> <a onclick="paginaAjustes()"><i class="fa-solid fa-magnifying-glass"></i> Perfil </a></li>
        <li> <a onclick="cartas()"><i class="fa-solid fa-magnifying-glass"></i> Carta más alta </a></li>
        <li> <a onclick="blackJack()"><i class="fa-solid fa-magnifying-glass"></i> BlackJack </a></li>
        <li> <a onclick="poker()"><i class="fa-solid fa-magnifying-glass"></i> Poker </a></li>
        <li> <a onclick="craps()"><i class="fa-solid fa-magnifying-glass"></i> Dados craps </a></li>
        <li> <a onclick="ruleta()"><i class="fa-solid fa-magnifying-glass"></i> Ruleta </a></li>
        <li> <a onclick="kongoRun()"><i class="fa-solid fa-magnifying-glass"></i> Kongo Run </a></li>
        <li> <a onclick="tragaperras()"><i class="fa-solid fa-magnifying-glass"></i> Tragaperras </a></li>
        <li> <a onclick="plinko()"><i class="fa-solid fa-magnifying-glass"></i> Plinko </a></li>
        <li> <a onclick="bingo()"><i class="fa-solid fa-magnifying-glass"></i> Bingo </a></li>
        <li> <a onclick="eventos()"><i class="fa-solid fa-magnifying-glass"></i> Eventos </a></li>
    </ul>

    <div id="cover-ctn-search" onclick="cerrarBuscador()"></div>
    <div id = prueba3>
        <img id ="fotoMoneda" src="/static/images/moneda.png">
        <img id = "masMonedas" title="Ingresar dinero" src="/static/images/masMonedas.png" onclick="ingresarDinero()">
        <span style="color: white" id= "monedas">{{ DINERO }}</span><br><br>
    </div>
    <div id="container">
        <h1> Carta más alta </h1>
    </div>
    <div id="bet">
        <label for="apuesta">Apuesta:</label>
        <input type="number" id="apuesta" min="0.01" step= "0.01" max="saldo">
        <div id="dinero"></div>
    </div>
    <div class="table">
        <div class="deck" id="deck">Repartir</div>
        <div class="card-container">
            <div class="slot" id="slot4"></div>
        </div>
        <br>
        <div class="slots">
            <div class="card-container">
                <div class="slot" id="slot1"></div>
            </div>
            <div class="card-container">
                <div class="slot" id="slot2"></div>
            </div>
            <div class="card-container">
                <div class="slot" id="slot3"></div>
            </div>
        </div>
        <br><br>
        <div id="message"></div>
    </div>

    <div class="toolbar">

        <div title="Menú" class="bars__menu">
            <i class="fa-solid fa-bars fa-bounce fa-2xl" id="menu_animado"></i>
        </div>

        <div title="Home" class="home" onclick="paginaHome()">
            <i class="fa-solid fa-house fa-2xl"></i>
        </div>

        <div title="Perfil" class="ajustes" onclick="paginaAjustes()">
            <i class="fa-solid fa-gear fa-spin fa-2xl"></i>
        </div>

        <div title="Buscador" class="buscador" onclick="ponerBuscador()">
            <i class="fa-solid fa-magnifying-glass fa-fade fa-2xl"></i>
        </div>
    </div>

    <script src="/static/js/cartas_antiguo.js"></script>
</body>
</html>
