<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../static/images/moneda_dorada.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/craps.css">
    <title>Juego de Craps</title>
    <script src="../static/js/craps.js"></script>
</head>
<body>
    <div class="container">
        <div class="reglas">
        <button1 id="botonReglas">Reglas</button1>
        </div>
<!--
        <div class="sidebar sidebar-left">
            <h2>Reglas del Juego</h2>
    
            <h3>Apuestas Principales</h3>
            <ul>
                <li><strong>Línea de Pase:</strong> Gana si sale un 7 u 11 en el lanzamiento inicial. Pierde si sale un 2, 3 o 12. Si sale otro número se establece como punto y gana si se repite antes de un 7.</li>

                <li><strong>Barra de No Pase:</strong> Gana si sale un 2 o un 3 en el lanzamiento inicial. Pierde si sale un 7 u 11. Empata si sale un 12. Si se establece un punto, gana si sale un 7 antes de repetirlo.</li>
            </ul>

            <h3>Apuestas Secundarias</h3>
            <ul>
                <li><strong>Gabela a Favor:</strong> Solo está disponible si se hizo una Línea de Pase como apuesta principal. Gana si el punto establecido se repite antes de un 7.</li>

                <li><strong>Gabela en Contra:</strong> Solo está disponible si se hizo una Barra de No Pase como apuesta principal. Gana si sale un 7 antes de que se repita el punto.</li>
            </ul>
        </div>
-->

        <div class="content">
            <h1>Juego de Craps</h1>
            <div id="balance-container">
                <p>Saldo total: <span id="balance">20 monedas</span></p>
            </div>
            <div id="bet-container">
                <p>Apuesta Principal actual: <span id="current-bet-type">Ninguna</span></p>
                <p>Cantidad apostada: <span id="bet">0 monedas</span></p>
            </div>
            <div id="bet-container2">
                <p>Apuesta Secundaria actual: <span id="current-bet-type2">Ninguna</span></p>
                <p>Cantidad apostada: <span id="bet2">0 monedas</span></p>
            </div>
            <div id="dice-container">
                <div class="dice" id="dice1">?</div>
                <div class="dice" id="dice2">?</div>
            </div>
            <button onclick="rollDice()">Lanzar Dados</button>
            <p id="result"></p>
            <p id="punto-actual">Punto actual: Ninguno</p>
        </div>

        <div class="sidebar sidebar-right">
            <h2>Posibles Apuestas</h2>
            <div class="apuesta-principal">
                <h3>Apuestas Principales</h3>
                <button onclick="placePrimaryBet('lineaDePase')">Línea de Pase</button>
                <button onclick="placePrimaryBet('barraDeNoPase')">Barra de No Pase</button>
            </div>
            <div class="apuesta-secundaria">
                <h3>Apuestas Secundarias</h3>
                <button onclick="placeSecondaryBet('gabelaAFavor')">Gabela a Favor</button>
                <button onclick="placeSecondaryBet('gabelaEnContra')">Gabela en Contra</button>
            </div>
        </div>

        <div id = cajaApuesta>
        <img id ="fotoMoneda" src="../static/images/moneda.png">
        <img id = "masMonedas" title="Ingresar dinero" src="../static/images/masMonedas.png" onclick="ingresarDinero()">
        <span style="color: white" id= "monedas">{{ DINERO }}</span><br><br>
        </div>
    </div>
</body>
</html>








