{% block stylesheets %}
    <link rel="icon" href="/static/images/moneda_dorada.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/juegosDados.css">
    <title>Juegos Extra</title>
{% endblock %}
{% block body %}
    <audio controls autoplay loop id="audio-player">
        <source src="/static/audio/BadPiggies.mp3" type="audio/mpeg">
    </audio>
    <div class = "contenedorTotal">
        <div class="content">
            <h1>Juegos de dados</h1>
        </div>
        <div class = "contenedorJuegos">
            <article id="cargarPokerDados">
                <img id="cartelJuego" src="/static/images/juegos_dados/pokerDadosCartel.png">
                <img src="/static/images/juegos_dados/pokerDadosFrontal.png">
            </article>
            <article id="cargarCraps">
                <img id="cartelJuego" src="/static/images/juegos_dados/dadosCrapsCartel.png">
                <img src="/static/images/juegos_dados/dadosCrapsFrontal.png">
            </article>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/static/js/juegosDados.js"></script>
    <script src="/static/js/mutearPagina.js"></script>
{% endblock %}