{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/eleccion.css">
    <title> Cartas de elección </title>
{% endblock %}
{% block body %}
    <audio controls autoplay loop id="audio-player">
        <source src="/static/audio/Pac_Baby_3_Minutes_Pac_Man.mp3" type="audio/mpeg">
    </audio>
    <div id = prueba3 title="moneda">
        <img id ="fotoMoneda" src="/static/images/moneda.png">
        <img id = "masMonedas" title="Ingresar dinero" src="/static/images/masMonedas.png" onclick="ingresarDinero()">
        <span id= "monedas"> {{ DINERO }} </span>
    </div>
    <div id="contenedorTotal">
        <h1 id="titulo"> Cartas de elección </h1>

        <div id="marcoJuego">
            <!--<div class="option-button"> X </div>-->
        </div>
        <!--<div id="counter">  </div>-->
    </div>

    <div id="apuesta">
        <label for="amount" id="bet"> Apuesta: </label>
        <input type="number" id="amount" min="1" step= "0.01" max="saldo" placeholder="1 KC">
    </div>

    <div id="rules">
        <button id="ruleButton" onclick="showRules()"> Reglas </button>
        <button id="percent" onclick="showPercent()"> Porcentajes </button>
        <button id="playButton" onclick="startGame()"> Jugar </button>
    </div>

    <div id="inGame">
        <div id="KGNumber">
            <div id="wins"> Ganancias: </div>
            <div id="KGs">  </div>
        </div>

        <button id="nextRound" onclick="nextRound()"> Siguiente ronda </button>
        <button id="withdraw" onclick="withdraw()"> Retirarse </button>
    </div>

{% endblock %}
{% block javascript %}
    <script src="/static/js/eleccion.js"></script>
    <script src="/static/js/mutearPagina.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}