{% extends 'plantilla.html' %}
{% block title %} Cartas de elección {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/eleccion.css">
{% endblock %}
{% block body %}
    <div id = prueba3 title="moneda">
        <img id ="fotoMoneda" src="/static/images/moneda.png">
        <img id = "masMonedas" title="Ingresar dinero" src="/static/images/masMonedas.png" onclick="ingresarDinero()">
        <span id= "monedas"> {{ DINERO }} </span>
    </div>
    <div id="contenedorTotal">
        <h1 id="titulo"> Cartas de elección </h1>

        <div id="marcoJuego">
            <!--<div id="elecciones"> Eleccion X </div>-->
        </div>
        <button id="withdraw" onclick="withdraw()"> Retirarse </button>
        <div id="counter">  </div>
    </div>

    <div id="rules">
        <button id="ruleButton" onclick="showRules()"> Reglas </button>
        <button id="percent" onclick="showPercent()"> Porcentajes </button>
    </div>
{% endblock %}
{% block javascript %}
    <script src="/static/js/eleccion.js"></script>
    <script src="/static/js/mutearPagina.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}