{% block stylesheets %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/eventos.css">
    <title> Eventos </title>
{% endblock %}
{% block body %}
    <audio controls autoplay>
        <source src="/static/audio/BadPiggies.mp3" type="audio/mpeg">
    </audio>
    <div class = "contenedorTotal">
        <div class="container">
          <h2 class="title">
            <span class="title-word title-word-1">Ev</span><span class="title-word title-word-2">ent</span><span class="title-word title-word-3">os</span>
          </h2>
        </div>
        <div class="datos">
            <div class = "contenedorJuegos">
                <article id="cargarCartaMasAlta">
                    <img src="/static/images/juegos_cartas/cartaMasAltaCartel.png" onclick="evento_1()">
                    <img class="blackout" src="/static/images/eventos/bloqueo_entero2.5.png" onclick="unclockEvento()">
                    <img class="pop-up" src="/static/images/juegos_cartas/cartaMasAltaFrontal2.png">
                </article>
                <article id="cargarRuletaRusa">
                    <img src="/static/images/juegos_cartas/blackJackCartel.png" onclick="evento_2()">
                    <img class="blackout_2" src="/static/images/eventos/bloqueo_entero2.5.png" onclick="unclockEvento2()">
                    <img class="pop-up2" src="/static/images/juegos_cartas/blackJackFrontal.png">
                </article>
                <article id="cargarDino">
                    <img src="/static/images/juegos_cartas/cartaMasAltaCartel.png" onclick="evento_3()">
                    <img class="blackout_3" src="/static/images/eventos/bloqueo_entero2.5.png" onclick="unclockEvento3()">
                    <img class="pop-up3"src="/static/images/juegos_cartas/cartaMasAltaFrontal.png">
                </article>
            </div>
            <div class="tempos">
                <div id="cuenta"></div>
                <div id="cuenta2"></div>
                <div id="cuenta3"></div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script src="/static/js/eventos.js"></script>
    <script src="/static/js/simplyCountdown.min.js"></script>
    <script src="/static/js/countdown.js"></script>
{% endblock %}