{% extends 'plantilla.html' %}
{% block title %} Gashapon {% endblock %}
{% block stylesheets %}
<meta charset="UTF-8" xmlns="http://www.w3.org/1999/html">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/gashapon.css">
<link rel="icon" href="/static/images/moneda_dorada.png" type="image/x-icon">
{% endblock %}
{% block body %}
<audio controls autoplay loop id="audio-player">
    <source src="/static/audio/historiasCorrientes.mp3" type="audio/mpeg">
</audio>
<div id="marcoMonedas">
    <img id="imagenKonguitoCoin" src="/static/images/moneda.png">
    <div id="divMonedasUsuario">
        <span style="color: white" id="monedasUsuario">{{ DINERO }}</span><br><br>
        <img id="botonComprarMonedas" src="/static/images/masMonedas.png">
    </div>
</div>
<div class="thinking">Gira la rueda y que la fortuna te sonría (10KC de Ingreso).</div>
<div id="player">
    <img src="/static/images/gashapon/1Gachapon.png" alt="ImagenGashapon" id="GachaponWey">
</div>
<buttonSpin id="ruedecilla" onclick="girar()"></buttonSpin>
<div id="rectangle">
    <h1 id="title">Recompensas</h1>
    <ul id="list">
        <li class="list-item">Gana 500KC <span style="float: right;">1%</span></li>
        <li class="list-item">Gana 100KC <span style="float: right;">2.5%</span></li>
        <li class="list-item">Gana 50KC <span style="float: right;">5%</span></li>
        <li class="list-item">Gana 10KC <span style="float: right;">16.5%</span></li>
        <li class="list-item">Gana 5KC <span style="float: right;">30%</span></li>
        <li class="list-item">Gana 2KC <span style="float: right;">41%</span></li>
        <li class="list-item">Avatar Pirata <span style="float: right;">2%</span></li>
        <li class="list-item">Avatar Astronauta<span style="float: right;">2%</span></li>
    </ul>
</div>
<div id="valoresGashapon" style="display: none;">
    data-capitan="{{ CAPITAN }}"
    data-tigre="{{ TIGRE }}"
    data-astronauta="{{ ASTRONAUTA }}"
    data-king="{{ KING }}"
    data-pirata="{{ PIRATA }}"
    data-viking="{{ VIKING }}"
</div>
{% endblock %}
{% block javascript %}
<script src="/static/js/gashapon.js"></script>
<script src="/static/js/gashapon_alerta.js"></script>
<script src="/static/js/mutearPagina.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}