<!DOCTYPE html>
<html lang="es">
<head>
    <title> Inicio </title>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/moneda_dorada.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/boxicons/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <audio controls autoplay loop>
        <source src="../static/audio/CrazyDave.mp3" type="audio/mpeg">
    </audio>

    <video id="logoMovimiento" autoplay loop muted>
        <source src="../static/video/konguitoFinalMov.mp4" type="video/mp4">
    </video>
    <div class="login-box">
      <h2>Inicio</h2>
        <form method="POST">
        <div class="user-box">

          <input id="nombreUsuario"  name="nombreUsuario" value="{{ nombreUsuarioInicio }}" required>
              <label>Nombre de Usuario o Correo</label>
        </div>
        <div class="user-box">
          <input  type="password" id="contraseña" name="contraseña" value="{{ contrasenna }}" required>
            <i class="bx bx-hide" id="primera" STYLE="color: white; position: absolute; left: 90%; width: 20%; height: 20%"></i>
          <label>Contraseña</label>
        </div>
            <div id="error-message">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
                <div id="mensajeAlerta" data-valor='{{ mensaje }}'></div>
            <button type="submit" class = "entrar">ENTRAR</button>
        </form>
        <form method="GET" action="{{ url_for('registroUsuario')}}">
            <button type="submit" class = "registroUsuario">REGISTRO</button>
        </form>
        <form>
            <button type="button" data-toggle="modal" data-target="#myModal" class="registroAdmin">ADMINISTRADOR</button>
        </form>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ingresa la contraseña de Administrador</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="password" id="passwordInput" class="form-control" placeholder="Contraseña">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="verificarContraseña()">Verificar</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      function verificarContraseña() {
        var password = document.getElementById('passwordInput').value;
        if (password === 'Konguito9') {
          window.location.href = '/Registro Administrador/';
        } else {
          alert('Contraseña incorrecta. Acceso denegado.');
        }
        $('#myModal').modal('hide');
      }

      document.addEventListener("DOMContentLoaded", function() {
              var password = document.getElementById('contraseña');
              var primera = document.getElementById('primera');

          primera.addEventListener('click', function() {
            if (password.type === "password") {
              password.type = "text";
              primera.classList.add('bx-show-alt');
              primera.classList.remove('bx-hide');
            } else {
              password.type = "password";
              primera.classList.remove('bx-show-alt');
              primera.classList.add('bx-hide');
            }
          });
        });
</script>
</body>