{% block stylesheets %}
    <link rel="icon" href="/static/images/moneda_dorada.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/juegosCartas.css">
    <title> Juegos de cartas </title>
{% endblock %}
{% block body %}
    <audio controls autoplay loop id="audio-player">
        <source src="/static/audio/BadPiggies.mp3" type="audio/mpeg">
    </audio>
    <div class = "contenedorTotal">
        <div class="container">
          <h2 class="title">
            <span class="title-word title-word-1">Juegos</span>
            <span class="title-word title-word-2">de</span>
            <span class="title-word title-word-3">cartas</span>
          </h2>
        </div>
        <div class = "contenedorJuegos">
            <article id="cargarCartaMasAlta" onclick="jugarCartaMasAlta()">
                <img src="/static/images/juegos_cartas/cartaMasAltaCartel.png">
                <img src="/static/images/juegos_cartas/cartaMasAltaFrontal2.png">
            </article>
            <article id="cargarBlackJack">
                <img src="/static/images/juegos_cartas/blackJackCartel.png">
                <img src="/static/images/juegos_cartas/blackJackFrontal.png">
            </article>
            <article id="cargarDino">
                <img src="/static/images/juegos_cartas/cartaMasAltaCartel.png">
                <img src="/static/images/juegos_cartas/cartaMasAltaFrontal.png">
            </article>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/static/js/JuegosCartas.js"></script>
    <script src="/static/js/mutearPagina.js"></script>
{% endblock %}
