{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/juegosExtra.css">
    <title>Juegos Extra</title>
{% endblock %}
{% block body %}
    <audio controls autoplay>
        <source src="/static/audio/BadPiggies.mp3" type="audio/mpeg">
    </audio>
    <div class = "contenedorTotal">
        <div class="content">
            <h2 class="text_shadows">Juegos extra</h2>
        </div>
        <div class = "contenedorJuegos">
            <article id="cargarBingo">
                <img id="cartelJuego" src="/static/images/juegos_extra/BingoCartel.png">
                <img src="/static/images/juegos_extra/BingoFrontal.png">
            </article>
            <article id="cargarSlots">
                <img id="cartelJuego" src="/static/images/juegos_extra/TragaperrasCartel.png">
                <img src="/static/images/juegos_extra/TragaperrasFrontal.png">
            </article>
            <article id="cargarDino">
                <img id="cartelJuego" src="/static/images/juegos_extra/KonguitoRunCartel.png">
                <img src="/static/images/juegos_extra/KonguitoRunFrontal.png">
            </article>
            <article id="cargarPlinko">
                <img id="cartelJuego" src="/static/images/juegos_extra/PlinkoCartel.png">
                <img src="/static/images/juegos_extra/PlinkoFrontal.png">
            </article>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/static/js/juegosExtra.js"></script>
{% endblock %}