{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/juegos_extra.css">
    <title>Juegos Extra</title>
{% endblock %}
{% block body %}
    <article id="cargarDino">
        <img  src="/static/images/juegos_extra/KonguitoRunCartel.png">
        <img src="/static/images/juegos_extra/KonguitoRunFrontal.png">
    </article>
{% endblock %}
{% block javascripts %}
    <script>
        imagenDino = document.getElementById("cargarDino");
        imagenDino.addEventListener("click", function(){
            window.location.href = "/Juegos/Juegos_extra/KonguitoRun.html";
        });
    </script>
{% endblock %}