
{% block stylesheets %}
    <link rel="icon" href="/static/images/moneda_dorada.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konguito Run</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/konguitoRun.css" rel="stylesheet">
    <title>Juegos Extra</title>
{% endblock %}
{% block body %}
    <audio controls autoplay loop class="audio-player">
        <source src="/static/audio/VictorJoel.mp3" type="audio/mpeg">
    </audio>
     <div id = contenedorJuego>
        <div id = "fondoDinamico">
            <div class = "contenedorMultiplicador">
                <!--
                    Usar span para controlarlo con JS
                -->
                Multiplicador: <span id = "valorMultiplicador">0</span>
            </div>
            <div id = "marcoMonedas">
                <img id = "imagenKonguitoCoin" src="/static/images/moneda.png">
                <div id = "divMonedasUsuario">
                    <!--
                        A partir de las 16 cifras ya no se ve el número completo
                    -->
                    <span style="color: white" id= "monedasUsuario">{{ DINERO }}</span><br><br>
                    <img id = "botonComprarMonedas" src="/static/images/masMonedas.png">
                </div>
            </div>
        </div>
        <div id = "konguitoDino">
            <!--
                En caso de no poder mostrar la imagen del dinosaurio, muestra el texto Konguito con alt
            -->
            <img src="/static/images/konguito_run/Corriendo1.png" alt="Konguito" id="imagenKonguitoDino">
        </div>
    </div>
    <div id = "panelBotones">
        <div id = "imagenPanelBotones">
            <div class = "menuBotonesJuego">
                <button id = "botonIniciarPausar" class = "botonIniciarPausar"></button>
                <button id = "botonRetirarApuesta" >Retirarse</button>
            </div>
            <div class = "menuApuestasUsuario">
                <form>
                    <label for="cantidadApostada">Apuesta</label>
                    <input id ="cantidadApostada" type="number" min="0.01" step="0.01" value="0.01"><br><br>
                    <label for="limiteApostado">Límite</label>
                    <input id ="limiteApostado" type="number" min="1.00" step="0.05" value="1.01"><br><br>
                </form>
            </div>
            <div class = "menuRecompensa">
                <p>Recompensa: <span id = "recompensa">0</span></p>
            </div>
        </div>
        <div id = "logoCasino">
            <img src="/static/images/konguito_run/KonguitosSinFondo.png" id="imagenKonguitosCasino">
        </div>
        <div id = "logoJuego">
            <img src="/static/images/konguito_run/konguitoRun.png">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/konguitoRun.js"></script>
{% endblock %}