<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="/static/images/moneda_dorada.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/nueva_psswrd.css">
    <title>Envío de Correo</title>
</head>
<body>
    <audio controls autoplay loop id="audio-player">
        <source src="/static/audio/lift_music.mp3" type="audio/mpeg"> <!-- papyrus fortnite gravityRush -->
    </audio>
    <div id="containerVerificacion">
        <img src="https://cdn.iconscout.com/icon/free/png-512/free-email-2631192-2177204.png?f=webp&w=256" alt="Email Image" id="imagen">
        <h1 id="titulo"> Ingresa tu código de verificación </h1>
        <p id="descripcion"> Hemos enviado un código de verificación para el cambio de contraseña a su email. Introdúzcalo para poder realizar el cambio. </p>
        <div id="codigo">
            <input type="text" placeholder="__" maxlength="1" class="numeros">
            <input type="text" placeholder="__" maxlength="1" class="numeros">
            <input type="text" placeholder="__" maxlength="1" class="numeros">
            <input type="text" placeholder="__" maxlength="1" class="numeros">
            <input type="text" placeholder="__" maxlength="1" class="numeros">
            <input type="text" placeholder="__" maxlength="1" class="numeros">
        </div>
        <button id="verificar" onclick="verificarContrasena()"> Verificar </button>
    </div>
    <div id="numeroVerificacion"> {{ numero_formateado }} </div>
    <button id="requisitos" onclick="mostrarRequisitos()"> Requisitos </button>

    <div id="nuevaPw">
        <label id="contrasenas">
            <div class="nueva" id="new"> Nueva contraseña:
                <input type="password" placeholder="Nueva contraseña" minlength="8" class="pw" id="primera">
            </div>
            <div class="nueva" id="again"> Repita la contraseña:
                <input type="password" placeholder="Repita la contraseña" minlength="8" class="pw" id="segunda">
            </div>
            <button id="comprobar" onclick="comprobarContrasena()"> Cambiar contraseña </button>
        </label>
    </div>
    <script src="/static/js/nueva_psswrd.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
