<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Inicio de Sesion</title>
    <link rel="stylesheet" href="static/css/pagina_inicio.css">
</head>
<body>
    <div class="container">
        <h2 style="color: white">Iniciar Sesion</h2>
        <form method="GET" action="/login/">
            <label for="nombre" style="color: white" >Nombre de usuario:</label>
            <input type="text" id="nombre" name="nombre" placeholder="elige un buen pene" required>

            <label for="contrasena" style="color: white">Contrasena:</label>
            <input type="password" id="contrasena" name="contrasena" required>

            <button type="submit">Iniciar Sesion</button>
        </form>
    </div>
</body>
</html>

<!-- COMENTARIOS
COSAS A TENER EN CUENTA:
CONTRASEÑA: minimo de 8 caracteres de largo
            tiene q contener numeros, letras (mayus y min)
            ¿contener o no caracteres especiales?
            ¿permitir espacios en blanco?
pattern="[0-9a-fA-F]{8,}"
->