{% extends 'plantilla.html' %}
{% block title %} Categorias de juegos {% endblock %}
{% block stylesheets %}
    <link rel="icon" href="/static/images/moneda_dorada.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/static/css/pantallaJuegos.css">
{% endblock %}
{% block body %}
    <audio autoplay loop class="audio-player">
        <source src="../static/audio/Loonboon.mp3" type="audio/mpeg">
    </audio>
    <h1> Opciones de juego </h1>
    <div class="container">
        <div class="scroll-button left" id="scroll-left">←</div>
        <div class="scroll-container" id="scroll-container">
            <form method="GET" action="/Juegos/Indice_cartas/">
                <button class="button cartas" type="submit"> CARTAS </button>
            </form>
            <form method="GET" action="/Juegos/Indice_Dados/">
                <button class="button dados" type="submit"> DADOS </button>
            </form>
            <form method="GET" action="/Juegos/Ruleta/">
                <button class="button ruleta" type="submit"> RULETA </button>
            </form>
            <form method="GET" action="/Juegos/Eventos/">
                <button class="button event" type="submit"> EVENTOS </button>
            </form>
            <form method="GET" action="/Juegos/Juegos_extra/">
                <button class="button extra" type="submit"> JUEGOS EXTRA </button>
            </form>
        </div>
        <div class="scroll-button right" id="scroll-right">→</div>
    </div>

{% endblock %}
{% block javascript %}
    <script src="/static/js/pantallaJuegos.js"></script>
{% endblock %}
