{% extends 'plantilla.html' %}
{% block title %} Perfil de Usuario {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/perfil.css">
{% endblock %}
{% block body %}
    <div class="container_son">
        <h1> Perfil de usuario </h1>
        <div class="datos">
            <label class="nombre_usuario"> Nombre Usuario:
                <input id="introducir" type="text" value="mi nombre" disabled>
            </label>
            <label class="password"> Contraseña:
                <input id="introducir1" type="password" value="mi contraseña" disabled>
            </label>
            <label class="email"> Email:
                <input id="introducir2" type="email" value="mi email" disabled>
            </label>
            <label class="tarjeta"> Tarjeta:
                <input id="introducir3" type="text" value="mi tarjeta" disabled>
            </label>
            <button class="edit"> Editar datos </button>
        </div>
        <div class="avatar">
            <div class="imagen"></div>
            <div class="nombre"> Avatar </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="/static/js/perfil.js"></script>
{% endblock %}

<!-- POR EDITAR Y MEJORAR -->