<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/plinko.css">
    <script src="/static/js/plinko.js"></script>
</head>
<body>
<div id="board">
    <!-- Pegs -->
    <div class="peg" style="top: 100px; left: 50%;"></div>
    <div class="peg" style="top: 200px; left: 20%;"></div>
    <div class="peg" style="top: 200px; left: 80%;"></div>
    <!-- Add more pegs as needed -->

    <!-- Ball -->
    <div id="ball"></div>
</div>
</body>
</html>