<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Admin</title>
    <link rel="stylesheet" href="../static/css/registroDatosUsuario.css">
</head>
<body>
    <div class="login-box">
      <h2 style="color: white">Registro Administrador</h2>
        <form method="POST" action="/Administrador/">
            <div class="user-box">
              <input type="text" name="nombre" required="">
              <label>Nombre</label>
            </div>
            <div class="user-box">
              <input type="text" name="apellido" required="">
              <label>Apellido</label>
            </div>
            <div class="user-box">
              <input type="text" name="idEmpresa" required="">
              <label>ID Empresa</label>
            </div>
            <div class="user-box">
              <input type="text" name="correoEmpresa" required="">
              <label>Correo Empresa</label>
            </div>
            <div class="user-box">
              <input type="text" name="nombreUsuario" required="">
              <label>Nombre Usuario</label>
            </div>
            <div class="user-box">
              <input type="password" name="contraseña" required="">
              <label>Contraseña</label>
            </div>
                <button type="submit" class="button-right">&gt;</button>
        </form>
        <form method="GET" action="/">
            <button type="submit" class="button-left">&lt;</button>
        </form>
    </div>
</body>
</html>