<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../static/css/registroDatosUsuario.css">
</head>
<body>
    <div class="login-box">
      <h2>Registro</h2>
        <form method="POST" action="/Tarjeta/">
            <div class="user-box">
              <input type="text" name="nombreUsuario" required="">
              <label>Nombre Usuario</label>
            </div>
            <div class="user-box">
              <input type="password" name="contraseña" required="">
              <label>Contraseña</label>
            </div>
            <div class="user-box">
              <input type="email" name="correo" required="">
              <label>Correo</label>
            </div>
            <div class="user-box">
              <input type="text" name="DNI" required="">
              <label>DNI</label>
            </div>
            <div class="user-box">
              <input type="text" name="telefono" required="">
              <label>Teléfono</label>
            </div>
            <div class="user-box">
              <input type="text" name="calle" required="">
              <label>Calle</label>
            </div>
            <div class="user-box">
              <input type="text" name="codigoPostal" required="">
              <label>Código Postal</label>
            </div>
                <button type="submit" class="button-right">&gt;</button>
        </form>
        <form method="GET" action="/Términos y Condiciones/">
                <br>
                <a href="terminosCondiciones.html" style="color: white">Terminos Condiciones</a>
                <input type="checkbox" id="acepto" name="acepto">
                <br>
        </form>
    </div>
</body>
</html>