{% extends 'plantilla.html' %}
{% block stylesheets %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ruleta Rusa</title>
<link rel="stylesheet" href="/static/css/ruleta_rusa.css">
<link rel="icon" href="/static/images/moneda_dorada.png" type="image/x-icon">
{% endblock %}
{% block body %}
<audio controls autoplay loop class="audio-player">
    <source src="/static/audio/Mafia.mp3" type="audio/mpeg">
</audio>
<div id="marcoMonedas">
    <img id="imagenKonguitoCoin" src="/static/images/moneda.png">
    <div id="divMonedasUsuario">
        <span style="color: white" id="monedasUsuario">{{ DINERO }}</span><br><br>
        <img id="botonComprarMonedas" src="/static/images/masMonedas.png">
    </div>
</div>
<div id="contador-container">
    <div id="contador">10</div>
</div>
<div id="mensajeDeInstrucciones">Presiona: Iniciar Juego</div>
<div id="recamaras-container">
    <div id="recamara1" class="recamara">1</div>
    <div id="recamara2" class="recamara">2</div>
    <div id="recamara3" class="recamara">3</div>
    <div id="recamara4" class="recamara">4</div>
    <div id="recamara5" class="recamara">5</div>
    <div id="recamara6" class="recamara">6</div>
    <div id="Parar">
        <buttonParar onclick="pararJuego()">Parar</buttonParar>
    </div>
</div>
<div id="mensajeDeSeleccion">Selecciona una recamara:</div>
<div id="recuadros-container">
    <div class="seleccion-recamara" onclick="seleccionarDeRecamara(1)"></div>
    <div class="seleccion-recamara" onclick="seleccionarDeRecamara(2)"></div>
    <div class="seleccion-recamara" onclick="seleccionarDeRecamara(3)"></div>
    <div class="seleccion-recamara" onclick="seleccionarDeRecamara(4)"></div>
    <div class="seleccion-recamara" onclick="seleccionarDeRecamara(5)"></div>
    <div class="seleccion-recamara" onclick="seleccionarDeRecamara(6)"></div>
</div>
<div id="iniciarJuego">
    <buttonIniciar onclick="iniciarJuego()">Iniciar Juego</buttonIniciar>
</div>
<!--- Reglas y recompensas --->
<div id="botonDeReglas">
    <buttonRR onclick="reglas()">Reglas</buttonRR>
</div>
<div id="botonDeRecompensas">
    <buttonRR onclick="recompensas()">Recompensas</buttonRR>
</div>
{% endblock %}
{% block javascript %}
<script src="/static/js/ruleta_rusa.js"></script>
<script src="/static/js/ruleta_rusa_alertas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}