{% extends 'plantilla.html' %}
{% block stylesheets %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/ruleta.css" />
    <link rel="icon" href="/static/images/moneda_dorada.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
{% endblock %}
{% block title %}Ruleta{% endblock %}
{% block body %}
    <div class="juegoRuleta">
    <!-- Alertas -->
         <div class="reglas">
            <buttonRR onclick="reglas()">Reglas</buttonRR>
        </div>
        <div class="recompensas">
            <buttonRR onclick="recompensas()">Recompensas</buttonRR>
        </div>
        <div class="valorMonedas">
            <buttonRR onclick="leyenda()">Valor Monedas</buttonRR>
        </div>
        <!-- Tiempo necesario para apostar -->


        <!-- Marco  monedas, muestra el dinero del usuario en la BBDD -->
        <div id="marcoMonedas">
            <img id="imagenKonguitoCoin" src="/static/images/moneda.png">
            <div id="divMonedasUsuario">
                <span style="color: white" id="monedasUsuario">{{ dinero }}</span><br><br>
                <img id="botonComprarMonedas" src="/static/images/masMonedas.png">
            </div>
        </div>

        <!-- 5 Capas de la Ruleta-->
        <div class="ruleta">
            <img class ="capa-1" src="/static/images/ruleta/capa-1.png">
            <div class="layer-2 wheel" style="transform: rotate(0deg);">
                <img class ="capa-2" src="/static/images/ruleta/capa-2.png">
            </div>
            <div class="layer-3">
                <img class ="capa-3" src="/static/images/ruleta/capa-3.png">
            </div>
            <div class="layer-4 wheel" style="transform: rotate(0deg);">
                <img class ="capa-4" src="/static/images/ruleta/capa-4.png">
            </div>
            <div class="layer-5">
                <img class ="capa-5" src="/static/images/ruleta/capa-5.png">
            </div>
            <div class="ball-container" style="transform: rotate(0deg);">
                <div class="ball" style="transform: translate(0, -163.221px);"></div>
            </div>
        </div>
        <div id="giraRuleta">
            <button  class="girar" onclick="iniciarTemporizador(20)"> JUGAR </button>
        </div>

        <div id="tablero">
            <button class="numero verde 0" id="0" style="left: -50px; height: 150px">0</button>

            <button class="numero rojo 1 uno" id="1"  style="top:100px">1  </button>
            <button class="numero negro 2 dos" id="2"  style="top:50px">2</button>
            <button class="numero rojo 3 tres" id="3" >3</button>

            <button class="numero negro 4 cuatro" id="4" style="top: 100px; left: 50px">4</button>
            <button class="numero rojo 5 cinco" id="5" style="top: 50px; left: 50px">5</button>
            <button class="numero negro 6 seis" id="6" style="left: 50px">6</button>

            <button class="numero rojo 7 siete" id="7" style="top: 100px; left: 100px">7</button>
            <button class="numero negro 8 ocho" id="8" style="top: 50px; left: 100px">8</button>
            <button class="numero rojo 9 nueve" id="9" style="left: 100px">9</button>

            <button class="numero negro 10 diez" id="10" style="top: 100px; left: 150px">10</button>
            <button class="numero negro 11 once" id="11" style="top: 50px; left: 150px">11</button>
            <button class="numero rojo 12 doce" id="12" style="left: 150px">12</button>

            <button class="numero negro 13 trece" id="13" style="top: 100px; left: 200px">13</button>
            <button class="numero rojo 14 catorce" id="14" style="top: 50px; left: 200px">14</button>
            <button class="numero negro 15 quince" id="15" style="left: 200px">15</button>

            <button class="numero rojo 16 dieciseis" id="16" style="top: 100px; left: 250px">16</button>
            <button class="numero negro 17 dicisiete" id="17" style="top: 50px; left: 250px">17</button>
            <button class="numero rojo 18 dieciocho" id="18" style="left: 250px">18</button>

            <button class="numero rojo 19 dicinueve" id="19" style="top: 100px; left: 300px">19</button>
            <button class="numero negro 20 veinte" id="20" style="top: 50px; left: 300px">20</button>
            <button class="numero rojo 21 veintiuno" id="21" style="left: 300px">21</button>

            <button class="numero negro 22 veintidos" id="22" style="top: 100px; left: 350px">22</button>
            <button class="numero rojo 23 veintitres" id="23" style="top: 50px; left: 350px">23</button>
            <button class="numero negro 24 veinticuatro" id="24" style="left: 350px">24</button>

            <button class="numero rojo 25 veinticinco" id="25" style="top: 100px; left: 400px">25</button>
            <button class="numero negro 26 veintiseis" id="26" style="top: 50px; left: 400px">26</button>
            <button class="numero rojo 27 veintisiete" id="27" style="left: 400px">27</button>

            <button class="numero negro 28 veintiocho" id="28" style="top: 100px; left: 450px">28</button>
            <button class="numero negro 29 veintinueve" id="29" style="top: 50px; left: 450px">29</button>
            <button class="numero rojo 30 treinta" id="30" style="left: 450px">30</button>

            <button class="numero negro 31 treinta_uno" id="31" style="top: 100px; left: 500px">31</button>
            <button class="numero rojo 32 treinta_dos" id="32" style="top: 50px; left: 500px">32</button>
            <button class="numero negro 33 treinta_tres" id="33" style="left: 500px">33</button>

            <button class="numero rojo 34 treinta_cuatro" id="34" style="top: 100px; left: 550px">34</button>
            <button class="numero negro 35 treinta_cinco" id="35" style="top: 50px; left: 550px">35</button>
            <button class="numero rojo 36 treinta_seis" id="36"  style="left: 550px">36</button>

            <button class="numero externo apuesta_2_1_primera" id="apuesta_2_1_primera" style="left: 600px">2:1</button>
            <button class="numero externo apuesta_2_1_segunda" id="apuesta_2_1_segunda"  style="top: 50px; left: 600px">2:1</button>
            <button class="numero externo apuesta_2_1_tercera" id="apuesta_2_1_tercera" style="top: 100px; left: 600px">2:1</button>

            <button class="numero externo apuesta_1_12" id="apuesta_1_12"  style="top: 150px; width: 200px"> 1era 12</button>
            <button class="numero externo apuesta_13_24" id="apuesta_13_24"  style="top: 150px; left:200px; width: 200px"> 2era 12</button>
            <button class="numero externo apuesta_25_36" id="apuesta_25_36"  style="top: 150px; left: 400px; width: 200px"> 3era 12</button>

            <button class="numero externo apuesta_1_18" id="apuesta_1_18" style="top:200px; width: 100px">1-18</button>
            <button class="numero externo apuesta_par" id="apuesta_par" style="top:200px; left: 100px; width: 100px">Par</button>
            <button class="numero externo apuesta_negro" id="apuesta_negro" style="top:200px; left: 200px; width: 100px">Negro</button>
            <button class="numero externo apuesta_rojo" id="apuesta_rojo" style="top:200px; left: 300px; width: 100px">Rojo</button>
            <button class="numero externo apuesta_impar" id="apuesta_impar"  style="top:200px; left: 400px; width: 100px">Impar</button>
            <button class="numero externo apuesta_19_36" id="apuesta_19_36"  style="top:200px; left: 500px; width: 100px">18-36</button>
        </div>

        <div class="caja-gris">
            <div class="opciones">
                <button class="moneda cobre" onclick="colocarBordeMoneda(this)"></button>
                <button class="moneda plata" onclick="colocarBordeMoneda(this)"></button>
                <button class="moneda rubi" onclick="colocarBordeMoneda(this)"></button>
                <button class="moneda oro" onclick="colocarBordeMoneda(this)"></button>
                <button class="moneda diamante" onclick="colocarBordeMoneda(this)"></button>
                <button class=" quitarTodasApuestas" onclick="colocarBordeMoneda(this)"></button>
                <button class=" eliminarFicha" onclick="colocarBordeMoneda(this)"></button>
                <button class=" duplicarApuesta" onclick="colocarBordeMoneda(this)"></button>
                <button class=" repetirApuesta" onclick="colocarBordeMoneda(this)"></button>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="/static/js/ruleta.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}