{% extends 'plantilla.html' %}
{% block title %} Carta más alta {% endblock %}
{% block stylesheets %}
    <link rel="icon" href="/static/images/moneda_dorada.png" type="image/x-icon">
    <title>Ruleta</title>
    <link rel="stylesheet" href="/static/css/ruleta.css">
{% endblock %}
{% block body %}
    <audio controls autoplay loop class="audio-player">
        <source src="../static/audio/VictorJoel.mp3" type="audio/mpeg">
    </audio>
    <div id="rueda-ruleta">
        <div class="capa1-ruleta">
            <div class="capa2-ruleta" style="transform: rotate(0deg);"></div>
            <div class="capa3-ruleta"></div>
            <div class="capa4-ruleta" style="transform: rotate(0deg);"></div>
            <div class="capa5-ruleta"></div>
            <div class="ball-container" style="transform: rotate(0deg);">
                <div class="ball"  style="transform: translate(0, -163.221px);"> </div>
            </div>
        </div>
        <!--div class="apuestas"></div>
        <div class="moneda"></div-->
    </div>
    <div class="result"></div>
    <button id="girarRuleta" class="girar">Girar</button>
{% endblock %}
{% block javascript %}
    <script src="/static/js/ruleta.js"></script>
{% endblock %}
