{% extends 'plantilla.html' %}
{% block stylesheets %}
    <title>Parcel Sandbox</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="mobile-web-app-capable" content="yes" />
      <link rel="stylesheet" href="/static/css/ruleta.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
{% endblock %}
{% block body %}
    <div id="marcoMonedas">
            <img id="imagenKonguitoCoin" src="/static/images/moneda.png">
            <div id="divMonedasUsuario">
                <span style="color: white" id="monedasUsuario">{{ dinero }}</span><br><br>
                <img id="botonComprarMonedas" src="/static/images/masMonedas.png">
            </div>
    </div>
    <div id="app">
      <div>
        <div class="roulette-wheel">
          <div class="layer-2 wheel" style="transform: rotate(0deg);"></div>
          <div class="layer-3"></div>
          <div class="layer-4 wheel" style="transform: rotate(0deg);"></div>
          <div class="layer-5"></div>
          <div class="ball-container" style="transform: rotate(0deg);">
            <div
              class="ball"
              style="transform: translate(0, -163.221px);"
            ></div>
          </div>
          <svg width="380" height="380">
            <circle
              cx="190"
              cy="190"
              r="190"
              style="touch-action: none;"
            ></circle>
          </svg>
        </div>
      </div>
    </div>
    <div class="result"></div>
    <button class="girar" onclick="startRotation(Math.floor(Math.random() * (148 - 75 + 1)) + 75)"> GIRAR </button>


    <div class="botonDeReglas">
        <buttonRR onclick="reglas()">Reglas</buttonRR>
    </div>
    <div class="botonDeLeyenda">
        <buttonRR onclick="leyenda()">Leyenda</buttonRR>
    </div>
    <div class="botonDeRecompensas">
        <buttonRR onclick="recompensas()">Recompensas</buttonRR>
    </div>


    <div class="moneda">
        <div class="moneda-cobre" id="moneda-cobre" onclick="seleccionarMoneda(this)"></div>
        <div class="moneda-plata" id="moneda-plata" onclick="seleccionarMoneda(this)"></div>
        <div class="moneda-rubi" id="moneda-rubi" onclick="seleccionarMoneda(this)"></div>
        <div class="moneda-oro" id="moneda-oro" onclick="seleccionarMoneda(this)"></div>
        <div class="moneda-diamante" id="moneda-diamante" onclick="seleccionarMoneda(this)"></div>
    </div>

    <div class="tablero_apuestas" id="tablero_apuestas">
    <!-- APUESTAS FILA 5-->
    <div class="apuesta" data-numero="1_to_18" onclick="apuesta_18_numeros(this)"></div>
    <div class="apuesta" data-numero="par" onclick="apuesta_18_numeros(this)"></div>
    <div class="apuesta" data-numero="rojo" onclick="apuesta_18_numeros(this)"></div>
    <div class="apuesta" data-numero="negro" onclick="apuesta_18_numeros(this)"></div>
    <div class="apuesta" data-numero="impar" onclick="apuesta_18_numeros(this)"></div>
    <div class="apuesta" data-numero="19_to_36" onclick="apuesta_18_numeros(this)"></div>
    <!-- APUESTAS FILA 4-->
    <div class="apuesta" data-numero="1_to_12" onclick="apuesta_12_numeros(this)" ></div>
    <div class="apuesta" data-numero="12_to_24" onclick="apuesta_12_numeros(this)"></div>
    <div class="apuesta" data-numero="24_to_36" onclick="apuesta_12_numeros(this)"></div>

    <!-- Apuesta 2 Números -->
    <div id="1_numero"></div>
   <div id="2_numeros"></div>
   <div id="4_numeros"></div>

    <!--Apuesta 2 a 1 -->
    <div class="apuesta" data-numero="fila_1" onclick="apuesta_12_numeros_2_1(this)"></div>
    <div class="apuesta" data-numero="fila_2" onclick="apuesta_12_numeros_2_1(this)"></div>
    <div class="apuesta" data-numero="fila_3" onclick="apuesta_12_numeros_2_1(this)"></div>

    </div>

{% endblock %}
{% block javascript %}
    <script src="/static/js/ruleta_alertas.js"></script>
    <script src="/static/js/ruleta.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}