<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tragaperras</title>
    <link rel="stylesheet" href="../static/css/Tragaperras.css">
</head>
<body>
<div id="app">
    <div class="posicionamiento">
        <div class="slot">
            <div class="boxes">
            </div>
        </div>

        <div class="slot">
            <div class="boxes">
            </div>
        </div>

        <div class="slot">
            <div class="boxes">
            </div>
        </div>
    </div>

    <div class="buttons">
        <button id="spinner">Play</button>
    </div>
    <div class="recuadro">
        <label id="apostado">Apostado:</label>
        <input type="number" id="bet" value="1" min="1">
    </div>
    <div class="recuadro">
        <label for="balance">Saldo:</label>
        <span id="balance">100</span>
    </div>
    <div class="recuadro" id="mensaje-gananado">
        <label for="prize">Ganado:</label>
        <span id="prize">0</span>
    </div>
</div>
<script src="../static/js/Tragaperras.js"></script>
</body>
</html>