{% extends  'funcionesAdmin/toolBarAdmin.html'%}
{% block title %} Editar {% endblock %}
{% block textTitle %} Usuario {{ data[0] }} {% endblock %}
{% block content %}
    <br>
    <hr>
    <br><br><br>
    <form method="POST">
        <label for="username">Nombre Usuario: </label>
        <input type="text" id="username" name="username" placeholder="{{ data[0] }}" size="30" value="{{ data[0] }}" />
        <br>
        <label for="email">Correo: </label>
        <input type="email" id="email" name="email" placeholder="{{ data[1] }}" size="30" value="{{ data[1] }}"/>
        <br>
        <label for="dni">DNI: </label>
        <input  id="dni" name="dni" placeholder="{{ data[2] }}" size="30" value="{{ data[2] }}"/>
        <br>
        <label for="money">Dinero: </label>
        <input type="text" id="money" name="money" placeholder="{{ data[3] }}" size="30" value="{{ data[3] }}"/>
        <br>
        <label for="phone">Teléfono: </label>
        <input type="number" id="phone" name="phone" placeholder="{{ data[4] }}" size="30" value="{{ data[4] }}"/>
        <br>
        <label for="street">Calle: </label>
        <input type="text" id="street" name="street" placeholder="{{ data[6] }}" size="30" value="{{ data[6] }}"/>
        <br>
        <label for="postal_code">Código Postal: </label>
        <input type="text" id="postal_code" name="postal_code" placeholder="{{ data[7] }}" size="30" value="{{ data[7] }}"/>
        <br>

        <button> Cambiar </button>
    </form>
{% endblock %}