{% extends  'funcionesAdmin/toolBarAdmin.html'%}
{% block title %} Editar {% endblock %}
{% block textTitle %} Tarjeta {{ data2[0] }} {% endblock %}
{% block content %}
    <br>
    <hr>
    <br><br><br>
    <form method="POST">
        <br><br><br>
            <label for="card_number">Numero Tarjeta: </label>
            <input type="number" id="card_number" name="card_number" placeholder="" size="30" value = "{{ data2[0] }}"/>
            <br>
            <label for="card_holder">Titulante: </label>
            <input type="text" id="card_holder" name="card_holder" placeholder="" size="30" value = "{{ data2[1] }}"/>
            <br>
            <label for="expiration_date">Caducidad: </label>
            <input type="text" id="expiration_date" name="expiration_date" placeholder="" size="30" value = "{{ data2[2] }}" />
            <br>
            <label for="cvv">CVV: </label>
            <input type="number" id="cvv" name="cvv" placeholder="" size="30" value = "{{ data2[3] }}"/>
            <br>
            <button> Actualizar</button>
    </form>
{% endblock %}