<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- Box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- static -->
    <link rel="stylesheet" href="../../static/css/toolBarAdmin.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
   <nav class="sidebar close">
       <header>
           <div class="image-text">
               <span class="image">
                   <img src="../../static/images/moneda_dorada.png" alt="logo">
               </span>

               <div class="text header-text">
                   <span class="name">Konguitos Casino</span>
                   <span class="profession"> Administrador</span>
               </div>
           </div>

           <i class='bx bx-chevron-right toggle' ></i>
       </header>

       <div class="menu-bar">
           <div class="menu">
               <li class="search-box">
                   <i class='bx bx-search icon' ></i>
                   <input type="text" placeholder="Search...">
               </li>
               <ul class="menu-links">
                   <li class="nav-link">
                       <a href="{{ url_for('interfazAdmin') }}">
                           <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-tex">Información</span>
                       </a>
                   </li>
                   <li class="nav-link">
                       <a href="{{ url_for('tablaUsuarios') }}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-tex">Usuario</span>
                       </a>
                   </li>
                   <li class="nav-link">
                       <a href="{{ url_for('tablaTarjetas')}}">
                           <i class='bx bx-credit-card icon' ></i>
                           <span class="text nav-tex">Tarjeta</span>
                       </a>
                   </li>
                   <li class="nav-link">
                       <a href="{{ url_for('edicion')}}">
                           <i class='bx bx-folder-plus icon'></i>
                           <span class="text nav-tex">Inserción</span>
                       </a>
                   </li>
               </ul>
           </div>

           <div class = "bottom-content">
               <li class="">
                   <a href="{{ url_for('index') }}">
                       <i class='bx bx-log-out icon' ></i>
                       <span class="text nav-tex">Cerrar sesión</span>
                   </a>
               </li>
           </div>
       </div>
   </nav>
   <section class="home">
    <br>
       <div class="text">{% block textTitle %}{% endblock %}</div>
        <div class="content">
               {% block content %}{% endblock %}
        </div>
   </section>

    <script>
        const body = document.querySelector("body"),
            sidebar = body.querySelector(".sidebar"),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");

        toggle.addEventListener("click",() => {
            sidebar.classList.toggle("close");
        });

        searchBtn.addEventListener("click",() => {
            sidebar.classList.remove("close");
        });

        modeSwitch.addEventListener("click",() => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light Mode";
            }else{
                modeText.innerText = "Dark Mode";
            }
        });
    </script>
</body>
</html>