/* Estilo general de la página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 100;
    padding: 0;
    background-image: url('https://image.freepik.com/free-vector/poker-table-background-green-color_47243-1068.jpg');
    background-size: 100%;
    color: white;
    z-index: 1;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    margin: 20 220px;
}

/* Arreglos espacio entre contenedores (se rompió con la toolbar) */
#bet-container {
    margin-top: 90px;
    margin-bottom: 20px;
}

#bet-container2 {
    margin-bottom: 20px;
}

#dice-container {
    margin-bottom: 20px;
}

/* Estilo para la sección de reglas del juego */
.rules {
    float: right;
    width: calc(100% - 320px);
    padding: 20px;
    text-align: left;
}

/* Estilo para el título de las reglas */
.rules h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo para la lista de reglas */
.rules ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Estilo para los elementos de la lista */
.rules ul li {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}

/* Estilo para el título de "Posibles Apuestas" */
.apuestas-title {
    margin-right: 50px; /* Separación del texto con los botones */
    line-height: 300px; /* Ajusta el espacio vertical para alinear con los botones */
}

/* Estilos para los botones de apuestas en una fila horizontal */
.bottom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: transparent; /* Fondo transparente */
}

/* Estilo de los botones de apuestas en la parte inferior */
.bottom-buttons button {
    margin: 0 10px; /* Espacio entre los botones */
    padding: 10px 20px;
    font-size: 18px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Estilo de los botones de apuestas al pasar el ratón por encima */
.bottom-buttons button:hover {
    background-color: #777;
}


/* Estilo del contenido principal */
.content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Estilo del contenedor de los dados */
#dice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    justify-content: center; /* Para centrar los dados horizontalmente */
}

/* Estilo de los dados */
.dice {
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    margin: 50px; /* Reducido el margen para disminuir la separación */
    background-color: #fff;
    display: inline-block;
}

.dice-img {
    width: 100px;
    height: auto;
}

/*Saldo y monedas */
.recuadroSaldo {
    position: absolute;
    background-color: #050505;
    color: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    right:70%;
    top:60%;
}

#cajaApuesta{
    background-image: url("/static/images/konguito_run/marcoCasino.png");
    background-size: cover;
    position: absolute;
    display: flex;
    width: 16%;
    height: 22%;
    top: 1%;
    left: 73%;
    overflow: hidden;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.9));
}

#cajaApuesta span {
    top: 35%;
    left: 40%;
    position: absolute;
    font-size: 200%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

#fotoMoneda {
    margin-left: -14%;
    margin-top: -7%;
    transform: scale(0.23);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}

#masMonedas{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 15%;
    left: 7%;
    animation: masMonedasAnimation 2s infinite alternate;
    cursor: pointer;
}

.botonDeReglas {
    position: absolute;
    top: 20%;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 3%;
}

.botonDeRecompensas {
    position: absolute;
    top: 30%;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 3%;
}

.botonDeTiro {
    position: absolute;
    top: 40%;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 3%;
}

buttonRR {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 400%;
    height: 150%;
    background: #CC0066;
}

buttonThrow {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 400%;
    height: 150%;
    background: #555;
}

#audio-player {
     display: none;
}







