/* Estilo general de la página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilo de la barra lateral */
.sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
}

/* Estilo para la barra derecha */
.sidebar-right {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    right: 0;
}

/* Estilo de la barra lateral izquierda */
.sidebar-left {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0 220px;
}

/* Estilo para la sección de reglas del juego */
.rules {
    float: right;
    width: calc(100% - 320px);
    padding: 20px;
    text-align: left;
}

/* Estilo para el título de las reglas */
.rules h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo para la lista de reglas */
.rules ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Estilo para los elementos de la lista */
.rules ul li {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}

/* Estilo del título de la barra lateral */
.sidebar h2 {
    font-size: 20px;
    margin-top: 0;
}

/* Estilo de los botones de apuestas */
.sidebar button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Estilo de los botones de apuestas al pasar el ratón por encima */
.sidebar button:hover {
    background-color: #777;
}

/* Estilo del contenido principal */
.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Estilo del contenedor de los dados */
#dice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

/* Estilo de los dados */
.dice {
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #fff;
}







