body{
    background-image: url("https://openseauserdata.com/files/5f085809f2b711643e4eb4974cc03c0e.gif");
    /*background-position: center;*/
    background-size: cover;
    color: white;
}

audio{
    display: none;
}

/* marco del dinero del usuario */
#prueba3{
    /*color: white;*/
    background-image: url("/static/images/konguito_run/marcoCasino.png");
    background-size: cover;
    position: absolute;
    display: flex;
    width: 14%;
    height: 20%;
    top: 1%;
    left: 80%;
    overflow: hidden;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.9));
}

#prueba3 span {
    top: 34%;
    left: 40%;
    position: absolute;
    font-size: 180%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

#fotoMoneda {
    margin-left: -10%;
    margin-top: -4%;
    transform: scale(0.23);
    filter: drop-shadow(5px 10px 8px rgba(0,0,0,1));
}

#masMonedas{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 15%;
    left: 7%;
    animation: masMonedasAnimation 2s infinite alternate;
    cursor: pointer;
}

/* animacion del boton '+' */
@keyframes masMonedasAnimation{
    0% {
        transform: scale(1);
        filter: drop-shadow(3px 3px 5px rgba(0,0,0,1));
    }
    50% {
        transform: scale(1.2);
        filter: drop-shadow(3px 3px 5px rgba(0,0,0,1));
    }
    100% {
        transform: scale(1);
        filter: drop-shadow(3px 3px 5px rgba(0,0,0,1));
    }
}
#contenedorTotal{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    height: 70%;
    width: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    border: 2px solid #7d0bff;
    text-align: center;
}

#titulo{
    text-align: center;
    margin: 1% 0 5% 0;
    font-size: 48px;
}

#marcoJuego{
    border: 2px solid lightskyblue;
}

/* de CHAT GPT */
.option-button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    border: 2px solid red;
}
.option-button:hover{
    background-color: rgba(255,255,255,.3);
}

#withdraw{
    height: 5%;
    width: 10%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
    background: darkgoldenrod;
    margin-top: 1%;
    opacity: 0;
}

#counter{
    text-align: center;
    border: 2px solid #2cff0b;
    margin-top: 1%;
}

#rules{
    position: absolute;
    top: 30%;
    left: 10%;
    height: 5%;
    width: 6%;
    font-size: 24px;
}
#ruleButton, #percent, #playButton{
    width: 100%;
    height: 100%;
    margin: 7.5% 0 7.5% 0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
    background: darkgoldenrod;
    cursor: pointer;
}
#ruleButton:hover, #percent:hover, #playButton:hover{
    background-color: goldenrod;
    box-shadow: 5px 5px 5px rgba(0, 246, 238, 0.56);
}

#apuesta{
    position: absolute;
    top: 45%;
    left: 10%;
}
#amount{
    width: 30%;
}

#KGNumber{
    position: absolute;
    display: flex;
    top: 20%;
    left: 76.5%;
    height: 5%;
    width: 7%;
    align-items: center;
    border: 2px solid greenyellow;
}

#wins{
    margin: 0 0 0 18%;
}

#jugar{
    position: absolute;
    display: flex;
    top: 28%;
    left: 76.7%;
    height: 9%;
    width: 5.8%;
}
#playButton{
    margin: 0;
}