body{
  color: white;
  background-image: url("/static/images/eventos/fondo_evento2.jpg"); /* https://i.pinimg.com/originals/24/7d/52/247d52b719689f3a71dae786bff5dce3.png */
  background-size: cover;
  background-position: center 100%;
}

audio{
  display: none;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title {
  margin: 0;
  place-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}

.title-word-1 {
  --color-1: #FFD700;
  --color-2: #00BFFF;
  --color-3: #FF00FF;
}

.title-word-2 {
  --color-1: #ff5000;
  --color-2: #9B59B6;
  --color-3: #27AE60;
}

.title-word-3 {
  --color-1: #3498DB;
  --color-2: #eeac56;
  --color-3: #00FF00;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-3)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-1)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-2)}
  100%  {color: var(--color-1)}
}

.contenedorTotal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
}

.contenedorJuegos{
  top: 5%;
  position: relative;
  display: flex;
  justify-content: center;
  /*border: 2px solid red;*/
}

/* la imagen sin moverse */
article{
  margin: 0 1%;
  position: relative;
  width: 20%;
  transition: all 0.3s ease;
}
/* la imagen inclinada */
article img:first-child{
  cursor: pointer;
  box-shadow: 0 60px 60px -60px rgba(143, 15, 229, 1);
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* bloquear el evento */
article [class="blackout"], article [class="blackout_2"], article [class="blackout_3"]{
  position: absolute;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
/* la imagen saliente con el hover */
article img:last-child{
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 90%;
  margin: auto;
  transform: translateY(25%);
  transition: 0.3s ease;
  opacity: 0;
}

article:hover img:first-child, article:hover [class="blackout"], article:hover [class="blackout_2"], article:hover [class="blackout_3"]{
  transform:
      perspective(250px)
      rotateX(10deg)
      translateZ(0)
      translateY(-5%);
}

article::before{
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image:
      linear-gradient(
          to bottom,
          transparent 10%,
          rgba(0, 0, 0, 0.5) 50%,
          rgba(0, 0, 0) 95%
      );
  opacity: 0;
  transition: all 0.3s ease;
}

/* añado la clase hover para q aparezca cuando se desbloquee */
article.hover:hover img:last-child{
  opacity: 1;
  transform: translateY(15%);
}

/* USANDO SIMPLYCOUNTDOWN */
.tempos{
  /*border: 2px dashed #40ff00;*/
}
#cuenta, #cuenta2, #cuenta3 {
  margin-top: 1%;
  display: flex;
  /*border: 3px solid yellow;*/
}

.simply-section {
  background: #d49191;
  width: 4%;
  height: 4%;
  margin: 0 0.5%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px solid lightseagreen;
}

.simply-amount {
  display: block;
  font-size: 200%;
  font-weight: 700;
}

.simply-word {
  font-weight: 300;
  font-size: 150%;
}