body {
    color: #070707;
    background-size: cover;
    background-image: url("/static/images/gashapon/historiasCorrientes_wallpaper.jpg");
}

#audio-player {
    display: none;
}
/* Gachapon Imagen*/
#player {
    position: absolute;
    width: 17%;
    height: 60%;
    top: 24%;
    left: 39.95%;
    scale: 1.3;
}

#player img {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* rectangulo */
/* Estilos del cuadro rectangular */
#rectangle {
    position: absolute;
    width: 25%;
    height: 35%;
    background-color: lightblue;
    border: 2px solid black;
    top: 10%;
    left: 5%;
}

/* Estilos del título */
#title {
    text-align: center;
    font-size: 24px;
}

/* Estilos de la lista */
#list {
    list-style-type: none; /* Elimina los marcadores por defecto */
}

/* Estilos de los elementos de la lista */
.list-item {
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
}

/* Rueda */
#ruedecilla {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: rgba(100, 103, 110, 0); /* Color de fondo del círculo */
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 68%;
    left: 46%;

}

buttonspin {
    cursor: pointer;
}

/* (A) BASIC STYLES FOR THE THINKING BUBBLE */
.thinking {
    position: absolute;
    max-width: 300px;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    top: 60%;
    left: 15%
}

/*SALDO*/

#marcoMonedas {
    background-image: url("/static/images/marcoCasino.png");
    position: absolute;
    top: 0%;
    right: 4%;
    width: 20%;
    height: 20%;
    background-size: 100% 100%;
    display: flex;
}

#divMonedasUsuario {
    position: relative;
    right: 15%;
    margin-right: 2%;
    width: 50%;
    height: 15%;
    top: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#divMonedasUsuario span {
    position: absolute;
    font-size: 200%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagenKonguitoCoin {
    margin-left: 5%;
    margin-top: -3%;
    transform: scale(0.3);
}

#botonComprarMonedas {
    margin-left: -190%;
    margin-top: -30%;
    transform: scale(0.07);
    animation: animacionBotonComprarMonedas 2s infinite alternate;
}

#monedasUsuario {
    color: #fafaf7;
    font-size: 1.5rem;
}

#Bloque {
    position: absolute;
    top: 55%;
    left: 40%;
    color: #fafaf7;
}