.title-word {
  animation: color-animation 4s linear infinite;
}

.title {
  margin: 0;
  place-items: center;
  text-align: center;
}

.title-word-1 {
  --color-1: #decd16;
  --color-2: #e33cf6;
  --color-3: #ff001f;
}

.title-word-2 {
  --color-1: #4dde1e;
  --color-2: #ffffff;
  --color-3: #ffd800;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ff0000;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}

.contenedorTotal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/static/images/juegos_cartas/fondo.webp");
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center 100%;
}

.contenedorJuegos{
  top: 0%;
  position: relative;
  display: flex;
  justify-content: center;
}

article{
  margin: 0 1%;
  position: relative;
  width: 20%;
  transition: all 0.3s ease;
}

article img:first-child{
  box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

article img:last-child{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 90%;
  margin: auto;
  transform: translateY(25%);
  transition: 0.3s ease;
  opacity: 0;
}

article:hover img:first-child{
  transform:
      perspective(250px)
      rotateX(10deg)
      translateZ(0)
      translateY(-5%);
}

article::before{
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image:
      linear-gradient(
          to bottom,
          transparent 10%,
          rgba(0, 0, 0, 0.5) 50%,
          rgba(0, 0, 0) 95%
      );
  opacity: 0;
  transition: all 0.3s ease;
}


#cartelJuego:hover ~ img:last-child {
  opacity: 1;
  transform: translateY(15%);
}

article:hover img:last-child{
  opacity: 1;
  transform: translateY(15%);
}