@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
/* variables css */
:root{
    --white: #f0f0f0;
    --light-blue: #c9eefe;
    --blue: #00b3ff;
    --hover-blue: #59cdff;
    --black: #2a2a2a;
    --gray: #b3b3b3;
    --font: 'Lato', sans-serif;
}
/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body{
    width: 100%;
    height: 100vh;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/add2bd90-6561-4f76-99b0-e5dd70b94cfc/dd04g4m-039bfe3d-433b-4f40-9455-7f8a76521bde.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FkZDJiZDkwLTY1NjEtNGY3Ni05OWIwLWU1ZGQ3MGI5NGNmY1wvZGQwNGc0bS0wMzliZmUzZC00MzNiLTRmNDAtOTQ1NS03ZjhhNzY1MjFiZGUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.03vs2PpRj3UN_3CDgsCRkLX5ykIHLIqHsj972XKFTqc");
    /*
    https://e1.pxfuel.com/desktop-wallpaper/813/153/desktop-wallpaper-vaporwave-offline-sunrise-t-retro-gaming-sunrise.jpg
    https://wallpaperaccess.com/full/8088658.gif
     */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* PARA LA VERIFICACION DEL CODIGO */
#containerVerificacion, #nuevaPw{
    width: 25%;
    padding: 1%;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255,255,255,.8);
    color: var(--black);
    box-shadow: 5px 4px 11px 3px rgba(31, 220, 227, 0.6);
}
#nuevaPw{
    display: none;
    height: 35%;
}

#imagen{
    width: 40%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}

#titulo{
    font-size: 2em;
}

#descripcion{
    font-size: 1.2em;
    margin-bottom: 20px;
}

#codigo{
    width: 71%;
    display: flex;
    justify-content: space-between;
}

.numeros{
    width: 13%;
    height: 40px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--gray);
    background-color: var(--white);
    font-size: 1.5em;
    margin-bottom: 10px;
    caret-color: var(--blue);
}
.numeros:focus{
    border: 2px solid var(--blue);
    color: var(--blue);

}

#verificar{
    width: 67%;
    padding: 4%;
    background-color: var(--blue);
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease;
}
#verificar:hover{
    background-color: var(--hover-blue);

}
/* PARA EL CAMBIO DE CONTRASEÑA */
#contrasenas{
    width: 50%;
    height: 100%;
}

.nueva{
    font-weight: bold;
    margin: 12% 0;
}

.pw{
    margin: 5% 0;
    width: 100%;
    padding: 5%;
    border-radius: 5px;
    border: 2px solid lightgray;
}

#comprobar{
    padding: 5%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #b1ebfd;
}
#comprobar:hover{
    cursor: pointer;
    background-color: #7addf3;
    box-shadow: 5px 4px 11px 3px rgba(0,0,0,0.3);
}

#requisitos{
    display: none;
    position: absolute;
    left: 30%;
    padding: 1%;
    border-radius: 5px;
    background-color: #b1ebfd;
}
#requisitos:hover{
    cursor: pointer;
    background-color: #7addf3;
    box-shadow: 5px 4px 11px 3px rgba(0,0,0,0.3);
}

#numeroVerificacion{
    display: none;
}

audio{
    display: none;
}