* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
h1 {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
}

h1 span {
    font-size: 3vw;
    margin-left: 2vw;
}

.message {
    color: yellow;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    top: 0.2rem;
    left: 35%;
    animation: openclose 5s ease-in-out infinite;
}

.word1, .word2{
    left: 50%;
    font-family: tahoma;
}

.word1{
    margin-left: 10%;
}

@keyframes openclose {
    0% {
        top: 0.2rem;
        width: 0;
    }
    5% {
        width: 0;
    }
    15% {
        width: 100%;
    }
    30% {
        top: 0.2rem;
        width: 100%;
    }
    50% {
        top: 0.2rem;
        width: 0;
    }
    60% {
        top: -4.5rem;
        width: 0;
    }
    70% {
        top: -4.5rem;

    }
    75% {
        top: -4.5rem;
        width: 100%;
    }
    90% {
        top: -4.5rem;
        width: 100%;
    }
    99% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}

#total{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-image: url("/static/images/seleccion_caterogia/fondo.jpg");
}

#texto{
    position: relative;
    top: 0%;
    left: 35%;
    width: 32%;
    height: 16%;
    background-image: url("/static/images/seleccion_caterogia/bienvenido.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#mostrar{
    left: 50%;
}

:root{
    --slide-transform:0;
    --transition: transform 1s;
}

.slider_element{
    min-width: 100%;
    height: 100%;
    font-size: 3rem;
    text-align: center;
    line-height: 200%;
}

.slider, .slider2, .slider3{
    display: flex;
    height: 100%;
    transform: translateX(var(--slide-transform));
    transition: var(--transition);
}

img{
    max-height: 100%;
    cursor: pointer;
}

.slider_container{
    position: relative;
    top: -100%;
    right: 00%;
    height: 50%;
    width: 21%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid rgb(255, 0, 228);
    overflow: hidden;
}

.slider_container2{
    position: relative;
    left: 10%;
    top: 0%;
    height: 50%;
    width: 21%;
    border: 4px solid rgb(0, 255, 0);
    overflow: hidden;
}

.slider_container3{
    position: relative;
    right: -68%;
    top: -50%;
    height: 50%;
    width: 21%;
    border: 4px solid rgb(0, 0, 255);
    overflow: hidden;
}

#botonIzquierda{
    transform: rotate(180deg);
}

.botonDerecha, .botonIzquierda{
    cursor: pointer;
    width: 0;
    height: 74px;
    background: transparent;
    box-sizing: border-box;
    border-color: transparent transparent transparent rgb(244, 248, 14);
    transition: 800ms all ease;
    border-style: solid;
    border-width: 50px 0 50px 70px;
}

.botonDerecha:hover, .botonIzquierda:hover{
    border-color: transparent transparent transparent rgb(136, 138, 7);
}

.slider-buttons{
    position: relative;
    left: 0%;
    top: -100%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}