body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/019/864/512/non_2x/abstract-dark-red-elegant-painting-texture-background-vintage-grunge-dark-backdrop-for-aesthetic-creative-design-free-photo.jpg");
    color: white;
    display: flex;
}

audio{
    display: none;
}

/* CONTENEDOR DE TODO */
.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    font-size: x-large;
}
/* titulo de la pagina (Dentro) */
#titulo{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    font-size: 48px;
    color: darkgoldenrod;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
}

/* contenedor de dats del usuario */
.datos{
    display: flex;
    position: absolute;
    border: 2px solid black;
    top: 50%;
    left: 50%;transform: translate(-50%, -50%);
    background-color: rgba(108, 85, 57, 0.65);
    width: 80%;
    height: 70%;
}

/* contenedor de informacion */
.info{
    position: relative;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 60%;
}

/* contenedor de los indicadores de campos */
.etiquetas{
    position: absolute;
    top: 10%;
    left: 10%;
}

/* contendedor de los campos editables */
.atributos{
    position: absolute;
    top: 9%;
    left: 36%;
    height: 80%;
    width: 20%;
}
/* atributos de los campos editables */
.input_email, .input_pass, .input_dir, .input_card {
    margin: 17% 0;
    position: relative;
    text-align: center;
}
#requestPass, #introducir, #introducir1, #introducir3, #introducir4, #introducir5, #introducir6, #introducir7, #introducir8{
    width: 100%;
}

/* contenedor de otros datos del usuario */
.mas_datos{
    position: absolute;
    top: 10%;
    left: 65%;
    height: 60%;
    width: 25%;
}

/* campos del contendedor de otros datos */
.foto{
    height: 60%;
    width: 100%;
    position: absolute;
    border: 2px solid black;
    background-image: url("https://cdn.icon-icons.com/icons2/2030/PNG/512/user_icon_124042.png");
    background-size: cover;
}

.dni{
    position: absolute;
    text-align: center;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_dni{
    position: absolute;
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15%;
}

/* contenedor con los datos del avatar del usuario */
.avatar{
    position: absolute;
    height: 80%;
    width: 20%;
    top: 10%;
    left: 75%;
}

/* campos del contenedor de avatar */
.imagen{
    position: absolute;
    top: 10%;
    transform: translate(-0.6%, -0%);
    height: 55%;
    width: 100%;
    border-radius: 50%;
    background-image: url("https://i.pinimg.com/236x/52/01/5f/52015f81939f893c56b492a99c27d553.jpg");
    background-size: cover;
    cursor: pointer;
}

.nombre{       /* FOTO ARRIBA DE AVATAR */
    position: absolute;
    top: 70%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    height: 10%;
    width: 100%;
    border: 2px solid black;

}

/* contenedor de opciones de editar y demas */
.extras{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 90%;
    left: 5%;
    width: 90%;
}

/* campos del contenedor extras */
.terminosYcondiciones{
    top: 91.5%;
    left: 70%;
    font-size: 22px;
    text-decoration: underline;
    cursor: pointer ;
}

.terminosYcondiciones:hover{
    color: darkgoldenrod;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 1);
}

.edit{
    height: 40px;
    width: 120px;
    top: 90%;
    left: 88%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: darkgoldenrod;
    cursor: pointer;
}

.edit:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.idioma{
    top: 91%;
    left: 66%;
    cursor: pointer;
}

.idioma:hover{
    filter:drop-shadow(5px 5px 5px rgba(0, 0, 0, 1));
    color: darkgoldenrod;
}