body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    color: white;
}

#board {
    background-image: url("/static/images/sonicFondo.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #87CEEB;
    overflow: hidden;
}

.contenedor {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.sonic {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    left: 100%;
    transition: left 2s linear;
    z-index: 1;
    width: 10%;
    opacity: 0;
}

#rectangulo {
    position: absolute;
    top: 1vh;
    left: 1vw;
    width: 10%;
    height: 15%;
    background-color: rgba(124, 231, 228, 0.2);
    border: 0.2vw solid black;
    padding: 1vw;
}

#numero {
    width: 100%;
    margin-bottom: 1vh;
    border-radius: 0.5vw;
}

#guardar {
    width: 100%;
    color: white;
    background-color: #00FF00;
    border-radius: 0.5vw;
    box-shadow: inset 0 0 0.5vw rgba(0, 0, 0, 0.2);
}

#guardar:hover {
    box-shadow: inset 0 0 1vw rgba(0, 0, 0, 0.4);
}

#score {
    position: absolute;
    top: 2vh;
    right: 1vw;
    width: 5%;
    height: 5%;
    background-color: white;
    border: 0.2vw solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    display: none;
}


.peg {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    background-image: url("/static/images/monedaCobre.png");
    background-size: cover;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0.5vw 0.5vw 1.5vw rgba(0, 0, 0, 0.5);
}


.zona {
    position: absolute;
    height: 2vh; /* El 2% del tamaño vertical de la pantalla */
    background-color: yellow; /* Color amarillo */
    top: 58.5%; /* Centradas verticalmente */
    transform: translateY(-50%); /* Ajuste para centrar */
    border: 2px solid #000;
    opacity: 0.4;
}

.zona-1 {
    left: 0%;
    width: 32.5%;
}

.zona-2 {
    left: 32.5%;
    width: 5%;
}

.zona-3 {
    left: 37.5%;
    width: 5%;
}

.zona-4 {
    left: 42.5%;
    width: 5%;
}

.zona-5 {
    left: 47.5%;
    width: 5%;
}

.zona-6 {
    left: 52.5%;
    width: 5%;
}

.zona-7 {
    left: 57.5%;
    width: 5%;
}

.zona-8 {
    left: 62.5%;
    width: 5%;
}

.zona-9 {
    left: 67.5%;
    width: 32.5%;
}

#ball {
    position: absolute;
    width: 1.2vw;
    height: 1.2vw;
    background-image: url("/static/images/moneda_dorada.png");
    background-size: 100% 100%;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.5s ease-out;
    animation: spin 1s linear infinite;
}

#multiplicadores {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#multi-1, #multi-2, #multi-3, #multi-4, #multi-5, #multi-6, #multi-7, #multi-8, #multi-9 {
    color: black;
    font-size: 1em; /* Cambia el valor de 2em a 1em */
    display: flex;
    align-items: center;
    justify-content: center;
}

#marcoMonedas {
    background-image: url("/static/images/konguito_run/marcoCasino.png");
    background-size: cover;
    position: absolute;
    display: flex;
    width: 16%;
    height: 22%;
    top: 1%;
    left: 73%;
    overflow: hidden;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.9));
}


#marcoMonedas span {
    top: 35%;
    left: 40%;
    position: absolute;
    font-size: 200%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

#fotoMoneda {
    margin-left: -14%;
    margin-top: -7%;
    transform: scale(0.23);
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 1));
}

#masMonedas {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 15%;
    left: 7%;
    animation: masMonedasAnimation 2s infinite alternate;
    cursor: pointer;
}

/* animacion del boton '+' */
@keyframes masMonedasAnimation {
    0% {
        transform: scale(1);
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
    }
    50% {
        transform: scale(1.2);
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
    }
    100% {
        transform: scale(1);
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
    }
}

@keyframes spin {
    from {
        transform: translateX(-50%) rotate(0deg); /* Define el estado inicial de la animación, con la bola centrada y sin rotar */
    }

    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 70%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #333;
}

.message {
  font-size: 16px;
  color: #333;
}

.modal-content {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.modal-content.show {
  transform: scale(1);
  opacity: 1;
}
