/* Estilo general de la página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 100;
    padding: 0;
    background-image: url('https://image.freepik.com/free-vector/poker-table-background-green-color_47243-1068.jpg');
    background-size: 100%;
    color: white;
    z-index: 10;
}
button {
    z-index: 10;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    margin: 20 220px;
}

#dice-container {
    margin-bottom: 20px;
}

/* Estilo del contenido principal */
.content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.lanzar-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.lanzar-button:hover {
    background-color: #45a049;
}


.dice-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Permite que los dados se envuelvan si no hay suficiente espacio */
}

.dice-wrapper {
    text-align: center;
    margin: 0 10px;
}

.dice-container-inner {
    position: relative;
}

.lock-icon {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 20px;
    height: 20px;
    background-image: url('/static/images/lock-icon.png'); /* Ajusta la URL de la imagen del candado */
    background-size: cover;
}



/* Estilo de los dados */
.dice {
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    margin: 50px; /* Reducido el margen para disminuir la separación */
    background-color: #fff;
    display: inline-block;
}

.dice-img {
    width: 100px;
    height: auto;
}

/*Saldo y monedas */
.recuadroSaldo {
    position: absolute;
    background-color: #050505;
    color: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    right:70%;
    top:60%;
}

#bet-container {
    margin: 20px;
    position: absolute;
    top: 50%;
}

#cajaApuesta{
    background-image: url("/static/images/konguito_run/marcoCasino.png");
    background-size: cover;
    position: absolute;
    display: flex;
    width: 16%;
    height: 22%;
    top: 1%;
    left: 73%;
    overflow: hidden;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.9));
}

#cajaApuesta span {
    top: 35%;
    left: 40%;
    position: absolute;
    font-size: 200%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

#fotoMoneda {
    margin-left: -14%;
    margin-top: -7%;
    transform: scale(0.23);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}

#masMonedas{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 15%;
    left: 7%;
    animation: masMonedasAnimation 2s infinite alternate;
    cursor: pointer;
}

.botonDeReglas {
    position: absolute;
    top: 20%;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 3%;
}

.botonDeRecompensas {
    position: absolute;
    top: 30%;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 3%;
}

buttonRR {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 400%;
    height: 150%;
    background: #CC0066;
}

#audio-player {
     display: none;
}