body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-size: cover;
    background-image: url("/static/images/ruleta_rusa/MesaMafiosa.png");
    overflow-y: hidden;
    color: #f4f4f4;
}

#audio-player {
    display: none;
}

buttonIniciar {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background: #494949;
    color: #fff; /* Añadido color de texto para mejorar la legibilidad */
}

buttonIniciar:hover {
    background: #000000; /* Puedes ajustar el color al hacer hover según tu preferencia */
}

#iniciarJuego {
    position: absolute;
    top: 70%;
    left: 45%;
}

buttonDisparar {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background: #494949;
    color: #fff; /* Añadido color de texto para mejorar la legibilidad */
}

buttonDisparar:hover {
    background: #000000; /* Puedes ajustar el color al hacer hover según tu preferencia */
}

#disparar {
    position: absolute;
    top: 70%;
    left: 45%;
    display: none;
}

buttonRetirarse {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background: #944700;
    color: #fff; /* Añadido color de texto para mejorar la legibilidad */
}

buttonRetirarse:hover {
    background: #562b0f; /* Puedes ajustar el color al hacer hover según tu preferencia */
}

#retirarse {
    position: absolute;
    top: 70%;
    left: 55%;
    display: none;
}

buttonRR {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background: #ff0202;
    color: #fff; /* Añadido color de texto para mejorar la legibilidad */
}

/* Estilo adicional para dar feedback visual al hacer hover sobre el botón */
buttonRR:hover {
    background: #e60000; /* Puedes ajustar el color al hacer hover según tu preferencia */
}

#botonDeReglas {
    position: absolute;
    top: 30%;
    left: 20%;
}

#botonDeRecompensas {
    position: absolute;
    top: 40%;
    left: 20%;
}


/*SALDO*/

#marcoMonedas {
    background-image: url("/static/images/marcoCasino.png");
    position: absolute;
    top: 0%;
    right: 4%;
    width: 20%;
    height: 20%;
    background-size: 100% 100%;
    display: flex;
}

#divMonedasUsuario {
    position: relative;
    right: 15%;
    margin-right: 2%;
    width: 50%;
    height: 15%;
    top: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#divMonedasUsuario span {
    position: absolute;
    font-size: 200%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagenKonguitoCoin {
    margin-left: 5%;
    margin-top: -3%;
    transform: scale(0.3);
}

#botonComprarMonedas {
    margin-left: -190%;
    margin-top: -30%;
    transform: scale(0.07);
    animation: animacionBotonComprarMonedas 2s infinite alternate;
}

#monedasUsuario {
    color: #fafaf7;
    font-size: 1.5rem;
}

#Bloque {
    position: absolute;
    top: 55%;
    left: 40%;
    color: #fafaf7;
}

/* Recamaras*/
#recamaras-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.recamara {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #64676e; /* Color de fondo del círculo */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.recamara.active {
    background-color: #ff0202; /* Color de fondo del círculo activo */
}


/* Mensajes */

#mensajeDeInstrucciones {
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(98, 89, 89, 0.48);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

/* Apuesta */
#recuadroApuesta {
    position: absolute;
    color: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    right:60%;
    top:70%;
}

