/* 5 Capas de la ruleta y pelota: 14 */

body {
    font-family: sans-serif;
    background-image: url(/static/images/ruleta/felt.png), -webkit-radial-gradient(50% 40%,#527c14,#243a0a);
    background-attachment: fixed;
}

.juegoRuleta{
    z-index: 1;
    position: inherit;
}

/* ---------- Alertas ---------- */
.reglas {
    position: absolute;
    left: 7%;
    top:3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 2%;
    height: 5%;
}

.recompensas {
    position: absolute;
    left: 17%;
    top:3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 3%;
    height: 5%;
}

.valorMonedas{
    position: absolute;
    left: 30.2%;
    top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 3.5%;
    height: 5%;
}

buttonRR {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 400%;
    height: 150%;
    background: #f53535;
}

/* ---------- Tiempo de apuesta ---------- */
#tiempoApostar{
    position: absolute;
    top: 13%;
    left: 40%;
    height: 5%;
    width: 20%;
    background-color: #484848;
    z-index: 1;
}

#quiz-time-left {
    position: absolute;
    width: 0;
    height: 5%;
    top: 13%;
    left: 40%;
    -webkit-animation: progreso 5s linear;
            animation: progreso 5s linear;
    background: #26c94a;
    z-index: 1;
 }
#countdown {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #fff;
    z-index: 2;
}

#page-mod-quiz-summary #quiz-timer {
    text-align: center;
    display: none;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: 1;
}

#quiz-timer {
    border: 2px solid #000000;
    text-indent: -9999px;
    display:block;
    font-size: 0px;
    height: 35px;
    z-index: 1;
}
#noQuieroQueSalga {
    color: #26c94a;
    background: #26c94a;
}

@-webkit-keyframes progreso {
    0% {
        width: 20%;
    }
    100% {
        width: 0;
    }
}

@keyframes progreso {
    0% {
        width: 20%;
    }
    100% {
        width: 0;
    }
}

/* ---------- Marco Monedas ---------- */
#marcoMonedas {
    background-image: url("/static/images/marcoCasino.png");
    position: absolute;
    top: 2%;
    right: 4%;
    width: 20%;
    height: 20%;
    background-size: 100% 100%;
    display: flex;
}

#divMonedasUsuario {
    position: relative;
    right: 15%;
    margin-right: 2%;
    width: 50%;
    height: 15%;
    top: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divMonedasUsuario span {
    position: absolute;
    font-size: 200%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagenKonguitoCoin {
    margin-left: 5%;
    margin-top: -3%;
    transform: scale(0.3);
}

#botonComprarMonedas {
    margin-left: -190%;
    margin-top: -30%;
    transform: scale(0.07);
    animation: animacionBotonComprarMonedas 2s infinite alternate;
    cursor: pointer;
}

#monedasUsuario {
    color: #fafaf7;
    font-size: 1.5rem;
}
/* ---------- Capas de la Ruleta ---------- */
.ruleta {
    position: relative;
    width: 400px;
    height: 400px;
    left: 10%;
    top: 100px;
}

.capa-1, .capa-2, .capa-3, .capa-4, .capa-5, .ball-container {
    position: absolute;
    width: 100%;
    height: 400px;
}

.capa-2 {
    z-index: 2;
}

.capa-3 {
    z-index: 3;
}

.capa-4 {
    z-index: 4;
}

.capa-5 {
    z-index: 5;
}

.ball {
    position: absolute;
    width: 3.5%;
    height: 3.5%;
    border-radius: 7px;
    background: #fff radial-gradient(circle at 5px 5px, #fff, #444);
    box-shadow: 1px 1px 4px #000;
    transform: translateY(-116px);
    top: 50%;
    left: 50%;
    margin: -7px;
    z-index: 6;
}

/* ---------- Apuetas ---------- */
#tablero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: 22%;
    left: 47%;
    position: absolute;
}

.numero {
    position: absolute;
    border: 0.5px groove #FFFFFF;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 150%;
    cursor: pointer;
    color: white;
    width: 50px;
    height: 50px;
}

.rojo{
    background-color: #c52525;
}

.negro{
    background-color: black;
}

.verde{
    background-color: #40a21e;
}

.externo{
    background-color: transparent;
}

/* -------- Caja Monedas  ---------*/
.caja-gris {
    background-color: transparent; /* Gris claro */
    padding: 20px; /* Ajusta el relleno según sea necesario */
    position: absolute;
    top: 65%;
    left: 47%;
    width: 45%;
    height: 30%;
}

/* Estilo para la clase de opciones */
.opciones {
    position: absolute;
    display: flex;
    justify-content: space-around; /* Distribuir elementos horizontalmente con espacio entre ellos */
    height: 100%;
    width: 100%;
}

.moneda{
    position: absolute;
    display: flex;
    height: 50%;
    width: 16%;
    overflow: hidden;
    border-radius: 50%/10%;
    cursor: pointer;
    border: none;
}

.moneda:hover,
.moneda:active {
    border: 3px solid black; /* Añade un borde de 2px de color azul en hover o clic */
}


.quitarApuesta{
    background-image: url("/static/images/ruleta/quitarApuesta.png");
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
    border:none ;
    height: 30%;
    width: 10%;
    left: 30%;
    top:50%
}
.cobre{
    background-image: url("/static/images/monedaCobre.png");
    background-size: 113%;
    background-position: center;
    border-radius: 50%;
    border:none ;
    left: 0%;
}


.plata{
    background-image: url("/static/images/moneda.png");
    background-size: 113%;
    background-position: center;
    border-radius: 50%;
    border:none ;
    left: 20%;
}

.rubi{
    background-image: url("/static/images/monedaRubi.png");
    background-size: 113%;
    background-position: center;
    border-radius: 50%;
    border:none ;
    left: 40%;
}

.oro{
    background-image: url("/static/images/moneda_dorada.png");
    background-size: 113%;
    background-position: center;
    border-radius: 50%;
    border:none ;
    left: 60%;
}

.diamante{
    background-image: url("/static/images/monedaDiamante.png");
    background-size: 113%;
    background-position: center;
    border-radius: 50%;
    border: none;
    left: 80%;
}