body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-image: url("/static/images/tragaperras/fondoTragaperras2.png");
    background-size: cover;
    overflow-y: hidden;
    z-index: 1;
    position: relative;
    height: 100vh; /* Establecer la altura al 100% de la ventana gráfica */
}

#audio-player {
     display: none;
}

/* Control de 3 filas o 3 columnas. Actual: 3 columnas*/
.posicionamiento {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Control de tres slots*/
    top: 46%;
    right: 1.7%;
}

/* Fondos de las puertas y los cuadrados*/
.slot {
    background: #dbe138;
    width: 6.5%;
    height: 110px;
    overflow: hidden;
    border-radius: 2%;
    margin: 0.1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animación de las puertas*/
.boxes {
    transition: transform 1s ease-in-out;
}

/* Tamaño de los simbolos*/
.symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.buttonSpin {
    position: absolute;
    top: 70%;
    right: 49.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 400%;
    height: 150%;
}

button:hover {
    background: #dbe138;
    color: #1a2b45;
}

/* Botones de las puertas*/
.info {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.input{
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}


.recuadroSaldo {
    position: absolute;
    background-color: #050505;
    color: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    right:70%;
    top:60%;
}

.recuadroApuesta {
    position: absolute;
    color: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    right:70%;
    top:70%;
}

.recuadroGanado {
    color: #070707;
    height: 4%;
    width: 10%;
    background: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    top: 79%;
    right: 46%;
    position: absolute;
}

#balance {
    color: #dbe138;
    font-size: 1.5rem;
    font-weight: bold;
}


#prize {
    color: #070707;
    font-size: 1.5rem;
    font-weight: bold;
}

/*IMAGEN DE SLOT*/
#player {
    position: absolute;
    width: 35%;
    height: 60%;
    top: 20%;
    left: 39.95%;
    scale: 1.3;
    z-index: -1;

}

#player img{
    position: absolute;
    width: 100%;
    height: 100%;
}

/*REGLAS*/

.botonDeReglas {
    position: absolute;
    top: 20%;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 3%;
}

.botonDeRecompensas {
    position: absolute;
    top: 30%;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 3%;
}

buttonRR {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 400%;
    height: 150%;
    background: #dbe138;
}

/*SALDO*/

#marcoMonedas {
    background-image: url("/static/images/marcoCasino.png");
    position: absolute;
    top: 0%;
    right: 4%;
    width: 20%;
    height: 20%;
    background-size: 100% 100%;
    display: flex;
}

#divMonedasUsuario {
    position: relative;
    right: 15%;
    margin-right: 2%;
    width: 50%;
    height: 15%;
    top: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#divMonedasUsuario span {
    position: absolute;
    font-size: 200%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagenKonguitoCoin {
    margin-left: 5%;
    margin-top: -3%;
    transform: scale(0.3);
}

#botonComprarMonedas {
    cursor: pointer;
    margin-left: -190%;
    margin-top: -30%;
    transform: scale(0.07);
    animation: animacionBotonComprarMonedas 2s infinite alternate;
}

#monedasUsuario {
    color: #fafaf7;
    font-size: 1.5rem;
}

/* PLANTILLA*/
/* fija los elementos de la #lbar para q se desplace con el scroll */
#fixator{
    height: 100%;
    width: 100%;
    position: fixed;
    color: white;
}

/* MENU HAMBURGUESA */
#bars__menu{
    top: 90%;
    cursor: pointer;
}
#bars__menu:hover, #home:hover, #ajustes:hover, #buscador:hover, #volume:hover, #out:hover, #headset:hover, #rank:hover, #trophy:hover{
    color: darkgoldenrod;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,1));
}

#bars__menu, #home, #ajustes, #buscador, #volume, #out, #headset, #rank, #trophy{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 95%;
    transform: translate(-50%, -50%);
}
#home, #ajustes, #buscador, #volume, #out, #headset, #rank, #trophy{
    opacity: 0;
    transition: opacity 0.4s;
    margin-top: 2px;
}

#home{top: 80%;}
#ajustes{top: 75%;}
#buscador{top: 70%;}
#out{top: 85%;}
#volume{top: 65%;}
#headset{top: 60%;}
#rank{top: 55%;}
#trophy{top: 50%;}
#vOn{
    opacity: 1;
    display: block;
    position: absolute;
    top: 20%;
    left: 0;
}
#vOff{
    position: absolute;
    top: 20%;
    left: 0;
    /*opacity: 0;*/
    display: none;
}

/* BARRA DE BUSQUEDA */
#ctn-bars-search{
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 20px;
    z-index: 8;
    transition: all 400ms;
}

#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    z-index: 8;
}

#box-search{
    display: none;
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-50%);
    width: 1200px;
    background: white;
    overflow: hidden;
    z-index: 9;
    cursor: pointer;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 8px 0px;
    padding-left: 20px;
    /*text-decoration: none;*/
}

#box-search li a:hover{
    background: #f3f3f3;
}

/* COVER PARA BLOQUEAR EL FONDO (SE SUPERPONE) */
#cover-ctn-search{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
}

#back{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90%;
    left: 5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
#back:hover{
    color: darkgoldenrod;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,1));
}