#logoMovimiento {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#empieza{
    position: absolute;
    top: 85%; /* Posición vertical centrada */
    left: 50%; /* Posición horizontal centrada */
    background-color: #007bff;
    color: #fff;
    padding: 1% 1.5%;
    border: none;
    cursor: pointer;
}