body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-wrapper {
    display: flex;
    justify-content: space-between;
}

.container {
    flex: 1;
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
}

.card {
    width: 200px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    margin: 20px 0;
}

.card p {
    margin: 0;
}

.scroll-button {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.scroll-button:hover {
    background-color: #aaa;
}