body{
    background-image: url("https://openseauserdata.com/files/5f085809f2b711643e4eb4974cc03c0e.gif");
    /*background-position: center;
        https://openseauserdata.com/files/5f085809f2b711643e4eb4974cc03c0e.gif
        https://i.pinimg.com/originals/4e/de/5a/4ede5a33c5490195b2b17466ad26d124.gif
        https://www.xtrafondos.com/wallpapers/ciudad-futurista-estilo-retro-7822.jpg
        https://static.vecteezy.com/system/resources/previews/027/570/045/non_2x/arcade-video-gaming-lo-fi-aesthetic-wallpaper-men-playing-games-old-school-machines-2d-cartoon-objects-illustration-purple-lofi-background-90s-retro-album-art-chill-vibes-vector.jpg
    */
    background-size: cover;
    color: white;
}

#contenedorTotal{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    height: 70%;
    width: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    border: 2px solid #7d0bff;
    text-align: center;
}

#titulo{
    text-align: center;
    margin: 1% 0 5% 0;
    font-size: 48px;
}

#marcoJuego{
    border: 2px solid lightskyblue;
}

/* de CHAT GPT */
.option-button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    border: 2px solid red;
}
.option-button:hover{
    background-color: rgba(255,255,255,.3);
}

#withdraw{
    height: 5%;
    width: 10%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
    background: darkgoldenrod;
    margin-top: 1%;
    opacity: 0;
}

#counter{
    text-align: center;
    border: 2px solid #2cff0b;
    margin-top: 1%;
}

#rules{
    position: absolute;
    top: 30%;
    left: 10%;
    height: 5%;
    width: 6%;
    font-size: 24px;
}
#ruleButton, #percent{
    width: 100%;
    height: 100%;
    margin: 7.5% 0 7.5% 0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
    background: darkgoldenrod;
    cursor: pointer;
}
#ruleButton:hover, #percent:hover{
    background-color: goldenrod;
    box-shadow: 5px 5px 5px rgba(0, 246, 238, 0.56);
}

#apuesta{
    position: absolute;
    top: 45%;
    left: 10%;
}
#amount{
    width: 30%;
}

#KGNumber{
    position: absolute;
    display: flex;
    top: 18%;
    left: 76.5%;
    height: 5%;
    width: 7%;
    align-items: center;
    border: 2px solid greenyellow;
}

#wins{
    margin: 0 0 0 15%;
}