body{

}

#contenedorTotal{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}

#titulo{
    text-align: center;
    margin: 5%;
    font-size: 48px;
}

#marcoJuego{
    border: 2px solid lightskyblue;
}

/* de CHAT GPT */
.option-button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    border: 2px solid red;
}
.option-button:hover{
    background-color: lightgrey;
}