<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="GET" action="/index">
        <label for="lname">Nombre:</label><br>
        <input type="text" id="lname" name="lname" value=""><br>
        <label for="numeroId">Id:</label><br>
        <input type="text" id="numeroId" name="lname" value=""><br>
        <button class="button black" type="submit" onclick="guardarId()">Jugar1</button>
        <button class="button black" type="submit" onclick="unirse()">Unirse</button>
    </form>
    <script src="/static/js/inicio.js"></script>
</body>
</html>